[2020-05-22 16:52] ilblackdragon opened #5 "Implement Top Level Account Registrar Contract | Bounty: $14,000 in $NEAR"
### Describe your idea or initiative here

Implement Top Level Account Registrar Contract.
Details are here https://github.com/near/initial-contracts/issues/25

### Bounty

$14,000 in $NEAR

[2020-05-22 19:20] ilblackdragon opened #4 "Benchmarking NEAR's network | Bounty: 2000 NEAR"
### Describe your idea or initiative here

Leverage existing scripts to run 100 node network across the globe and build robust benchmarking tools with various loads (create lots of accounts, transfers, smart contracts, etc).

### Bounty

2000 $NEAR

[2020-05-22 20:49] ilblackdragon opened #3 "Implement Geomap of nodes in NEAR Explorer | Bounty: $500 USD in NEAR"
### Describe your idea or initiative here
Implement https://github.com/near/near-explorer/issues/299

### Bounty

USD $500 in NEAR tokens

[2020-05-22 20:59] ilblackdragon opened #2 "Move Python API into separate library"
### Describe your idea or initiative here
We have Python API for NEAR inside `nearcore` as part of testing tools. With latest version sitting inside unsubmitted PR: https://github.com/nearprotocol/nearcore/pull/2437/files#diff-1985e75e1a70443b9d1b41cd3787065b

Ideally it should be moved out into a separate repo near/near-api-py and published on PIP.

### Bounty

USD $500 in NEAR tokens

[2020-05-25 14:03] eriktrautman opened #1 "[CLAIMED] NEAR vs Ethereum Developer Comparison | Bounty: 1000-1500 NEAR"
## Context

Lots of developers come to NEAR from the Ethereum ecosystem and are often surprised by what they can do on NEAR after they try it.  This RFP is for a single post or page which provides a clear side-by-side comparison along key developer-relevant lines and a path for onboarding to NEAR.

## Detail

See Acceptance Criteria below.  Can use the docs as reference.

## Acceptance Criteria

-

[2020-05-27 17:48] ilblackdragon opened #6 "Implement Uniswap in Rust | Bounty: 5000 NEAR"
# Description

Implement a [Uniswap v2](https://uniswap.org/docs/v2/) contract in Rust on NEAR.

Context:
 - NEAR has [NEP-21 standard for Fungible Token](https://github.com/nearprotocol/NEPs/blob/master/specs/Standards/Tokens/FungibleToken.md).
 - NEAR is async and requires a bit different contract design & flow.

Flow:
 - Login on uniswap website
 - Before you can trade a token, you need to auth

[2020-05-27 19:48] potatodepaulo opened #7 "Implement community coin for discussion sites, forums and social platforms | Bounty: 2500 NEAR"
# Description
Implement a basic fungible token with an extension for minting that can be used in any online community that wishes to engage moderators, content creators and community memebers*

## Context:

- NEAR has NEP-21 standard for Fungible Token.
- Reddit recently created community points for some of their subreddits (https://www.reddit.com/community-points/)
- Other communities (such as de

[2020-05-28 06:35] fanhuaqiang commented on #1
值得期待

[2020-05-28 06:37] fanhuaqiang commented on #4
这样的开源项目很期待你们的成功

[2020-05-30 17:03] sarangparikh22 commented on #7
@potatodepaulo This looks like a very interesting Bounty. Especially with the traction gained by the Reddit with their Community Token. Before approaching this, I have few points of discussion.

1) Should we make it like a Factory Contract type of Mechanism where you have a website where anyone can come deploy the Token for their website and we will give them appropriate API (Generalized)  or Is i

[2020-06-01 11:11] ilblackdragon opened #8 "Pool Together delegation | Bounty: 2000 NEAR"
# Description
Use idea of PoolTogether with delegation rewards.
Create a smart contract that users can delegate to.
All delegations then are re-delegated to one of the smart contract pools.
Every X blocks (can be 12h, day or week), a lottery will be run weighted by how much coins they delegated and one of delegators will win all rewards from everyone.

## Context
PoolTogether is a way to pool toge

[2020-06-01 12:05] zavodil commented on #8
Shall we consider number of seats? Can user with 1 NEAR stake win all rewards?

[2020-06-01 14:04] ilblackdragon commented on #8
@zavodil Sure, it should be weighted by how much they deposited into contracts.

[2020-06-08 08:41] eriktrautman opened #9 "A NEAR token for Reddit Subs"
# Description
Reddit recently announced their project to experiment on 2 subreddits with launching their own subreddit tokens (https://decrypt.co/28874/why-reddit-is-bringing-crypto-to-two-million-people) in r/CryptoCurrency and r/FortNiteBR.  They've launched the tokens and natively integrated the "vault" into the user flows around their app.  They are doing this to boost engagement and experimen

[2020-06-08 09:40] ilblackdragon opened #10 "CLI for multsig contract | Bounty: TBD"
# Description
A CLI tool `near-multisig` that would allow users to deploy mutisig contract, create requests, view them and confirm.

## Context
https://github.com/near/core-contracts/tree/master/multisig#usage

# Acceptance
* [ ] Can deploy new multisig contract
* [ ] Can view current requests in a nice text UI
* [ ] Create request to send funds, call functions, etc
* [ ] Confirm existing requests

[2020-06-08 15:06] ilblackdragon opened #11 "Extend create-near-app to create CLI tools for smart contracts | Bounty: $2000 USD in NEAR"
# Description

Implement a template (in Node.js) that will help smart contract developers creating a dedicated command line util for their smart contracts.

We also want to extend [`create-near-app`](https://github.com/near/create-near-app) tool, so CLI is optionally initialized for the app.

## Context
Details are here: https://github.com/near/devx/issues/207

# Acceptance
* [ ] CLI template/fram

[2020-06-08 15:56] behaviary commented on #7
@sarangparikh22 Good thoughts. Sorry it took me so long to respond to this.

1. That's up to the creator of the contract. The factory contract makes much more sense in the long term. In the short term though, I personally would be happy to see any basic working example. Since it's blockchain, you could get around permission/API by building the very first UI as a chrome extension that overlays UI o

[2020-06-10 20:16] mattlockyer commented on #10
This bounty should be built on/after [Extend create-near-app to create CLI tools for smart contracts #11](https://github.com/near/bounties/issues/11)

[2020-06-10 23:07] vgrichina commented on #7
@sarangparikh22 @potatodepaulo somewhat related subreddit for inspiration https://www.reddit.com/r/MemeEconomy/

[2020-06-11 14:02] oancius commented on #3
Started working on this!

Fetched and displayed data in a basic way, working on design and animations.

[2020-06-11 14:11] thyamarkos commented on #7
@potatodepaulo We (DigitalMOB) are actually thinking of implementing this as a standalone application with local registration, wallet generation on registration and sort of a reward or bounty system from the user starting a new thread to users contributing valuable answers. Since this will have a ReactJS frontend and a JSON-RPC backend API on the server side, this could also later be turned into a

[2020-06-11 14:17] aistoc commented on #5
DigitalMob team is working on this. Currently getting more insight on this issue while training our Rust skills.

[2020-06-11 20:03] ilblackdragon opened #12 "Idea bank | Bounty: $500 USD in NEAR"
# Description
An app, where people can post their ideas.

## Context
The benefit of the idea bank on blockchain:
 * No patent trolling is possible, as one can prove the idea was posted prior
 * Ideas are public and allow developers and entrepreneurs to jump on them
 * Can add voting to upvote ideas
 * Can add linking to projects that actually do this idea - both helps people discover cool stuff &

[2020-06-13 00:11] robert-zaremba commented on #6
Hi @ilblackdragon - I'm happy to handle this.

1. Is there a way to assign myself?
2. Do we want to implement exactly same rules and parameters as Uniswap v1? Or do we want to do Uniswap v2?

Uniswap v2 is much better. But both have one big "default" - they lock lot of liquidity. There are better mechanisms. That being said it's still good to begin with Uniswap.

[2020-06-13 09:36] ilblackdragon commented on #6
1. Assigned to you
2. I suggested in the bounty to do v2 directly. I haven't read the v2's code, so not sure how much more work it is

What is the better mechanisms you have in mind?
Agree that Uniswap is a good primitive even if there are better exchange functionality - it will not always have enough liquidity for contracts to rely on it.

[2020-06-14 10:36] robert-zaremba commented on #6
Cool, will start working on probably around Friday.

[2020-06-14 10:42] robert-zaremba commented on #6
Both Uniswap v1 and v2 lockups lot of liquidity and makes it illiquid. So, in general it's not very efficient. However putting aside the "locking" mechanism, it provides an elegant solution for liquidity pools. Uniswap v2 is a bit better in that matter because one can use the pool for flash swaps - so reusing the pool without manipulating a price. This way the pool is active. There is more innovat

[2020-06-14 10:53] robert-zaremba commented on #6
Uniswap v2 is much more complex (and much better in few aspects):

1. Allows defining any pair pools.
    ![Uniswap v2 routing mechanisms](https://uniswap.org/static/c89a7f55518c0d6ca47d4b4813722c01/c1b63/v2_swaps.png)
    This causes few problems: fragmentation of the liquidity and additional computational overhead of searching optimal routing for exchange. Even Loopring was/is limiting the size

[2020-06-14 11:06] robert-zaremba commented on #6
So, discussing a scope, I would vote for not implementing custom denominators, reasons:

* dividing liquidity pools
* having a single denominator (NEAR) will strengthen NEAR token position.
* making UX is more complex and requires more centralization (to compute routing)
* Even Uniswap v2 can't handle it correctly (screenshot done "now"):
    ![uniswap v2 custom denominator](https://user-images.gi

[2020-06-14 23:09] robert-zaremba commented on #6
Here is a proposed scope:

Milestone 1:

Basically the Uniswap v1 implementation:
- [x] Create a ~pool factory~ (UPDATE: we don't use factories for the reason described in posts below)
- [x] Create pricing function
- [x] token swap and exchange functionality
- [ ] Finalize / contribute to the [NEP-21 standard for Fungible Token Spec](https://github.com/nearprotocol/NEPs/blob/master/specs/Standards

[2020-06-14 23:12] robert-zaremba commented on #6
Any suggestion for name?

- Uniswap (put :unicorn: )
- Uniswap-near (put :+1: )
- NEARswap (put :100: )
- ... (let's talk on discord)

[2020-06-15 16:20] ilblackdragon commented on #6
I don't think you can implement flash swaps on NEAR - all cross-contract calls are async, hence without very advanced locking there is no way to do "flash" stuff. Or I don't understand anything?

I think for now it's fine to start with NEAR <> X swaps and not have routing.

Does TWAP require separate contract? I thought it's just outcome of the existing swap contracts, where just save on first cal

[2020-06-15 21:22] robert-zaremba commented on #6
Right. With NEAR flash loans are not possible. Any other such thing will be classified as a standard loan (flash loan by definition must close in the same transaction / block).
TWAP can be implemented in the same smart contract or with a helper contract. The advantage of splitting the functionality is that we can have multiple TWAPs for the same pair (averaged by different time intervals). Uniswap

[2020-06-15 21:23] robert-zaremba commented on #6
That's a neat feature!

[2020-06-15 21:26] ilblackdragon opened #13 "Audit Registry | Bounty: $14,000 in NEAR"
# Description
Audit Registry is designed to increase transparency and security in the blockchain and general software space. It provides a ledger of

## Context
[TODO: update after blog post is published]
See draft of the blog post here - https://docs.google.com/document/d/1OX4Nv0Sta70f_1Py-Xs7iDyNHB-SGv_ygc8K2hVJ8CA/

## Details

### Contract

[code]

### User Experience

Important note is that u

[2020-06-16 11:30] ilblackdragon commented on #6
Also interesting approach to fees that seems to solve some of the LP-exploitation and to "easy to swing" price: Continuous Liquidity Pools (quick intro is here: https://twitter.com/Rewkang/status/1232414958706520064)

In short means that fee to LP increases with the slippage vs fixed 30 bps.

Oh, I actually thought caller can specify the window.

RE: locked collateral, I'm thinking if we can lever

[2020-06-16 17:47] robert-zaremba commented on #6
Balancer CLP (B_CLP)*  is reducing a price manipulation by introducing swap fees. TWAP is reducing it by averaging. Each has it's own downsides.
* B_CLP is more costly. So it seams to be a last resort of arbitration.
* TWAP is less accurate for spot prices.

It seams that we could have B_CLP with TWAP (so no Uniswap liquidity model). If we assume, as I stated above, that a Liquidity Pool is there

[2020-06-16 20:24] ilblackdragon commented on #2
Closing as I'm doing this.

[2020-06-16 20:24] #2 closed

[2020-06-24 18:01] robert-zaremba commented on #6
Continuing a research about CLP and Uniswap, I drafted recently two ideas to solve the locked liquidity problem I described [above](#issuecomment-643749100):

1. Create a `NEAR_SWAP` token . With it you can exchange a reserve base currency from one poll and use it inside the Uniswap/CLP ecosystem without impacting any other rates in CLP.
2. Have a common reserve pool — with this maybe we could som

[2020-06-25 15:14] oancius commented on #3
Hi @ilblackdragon,

Just opened this PR (https://github.com/near/near-explorer/pull/335) that implements https://github.com/near/near-explorer/issues/299 and I'm looking for feedback.

cc @miladmostavi

[2020-06-26 17:28] ilblackdragon opened #14 "Improve Validators page in Explorer | Bounty: $500 USD in NEAR"
# Description
Current validators page doesn't provide much information

## Context
There is an issue that outline specifics: https://github.com/near/near-explorer/issues/339

# Acceptance Criteria
* [ ] Validators page in explorer shows all information that `near validators` and `near proposals` commands have augmented with telemetry information

# Bounty
USD $500 in NEAR

[2020-06-27 23:29] ilblackdragon opened #15 "Verifying HTTPS page in smart contract | Bounty: USD $500 in NEAR"
# Description
HTTPS pages are signed with SSL certificates.
It would be great to have a Rust tool that will be able to verify that some payload was signed by certificate and decrypt it to be able to parse the content of a page.

# Acceptance Criteria
* [ ] A command line tool that will fetch a page from https://coinbase.com and submit to contract
* [ ] Contract that can verify received page is ind

[2020-06-29 14:54] lucashaig18 opened #16 "error: could not compile `neard`. while cargo build -p neard --release"
root@vultr:~/nearcore# cargo build -p neard --release
   Compiling neard v1.1.0 (/root/nearcore/neard)
error: could not compile `neard`.

Caused by:
  process didn't exit successfully: `rustc --crate-name neard --edition=2018 neard/src/main.rs --error-format=json --json=diagnostic-rendered-ansi --crate-type bin --emit=dep-info,link -C opt-level=3 -C lto -C codegen-units=1 -C overflow-checks=on -C

[2020-06-29 15:31] ilblackdragon commented on #16
Please file nearcore issue there - I move your issue there https://github.com/nearprotocol/nearcore/issues/2920
Can you also list there versions of rust, cargo and OS you are using?

[2020-06-29 15:31] #16 closed

[2020-06-30 02:52] lucashaig18 commented on #16
rustup 1.21.1 (7832b2ebe 2019-12-20)
cargo 1.44.1 (88ba85757 2020-06-11)
Ubuntu 18.04.4 LTS

[2020-06-30 18:44] djuanit0x commented on #12
I am going to start working on this.

[2020-07-02 22:07] chadoh opened #17 "Add Vue template to create-near-app | Bounty: 1600 NEAR"
# Description

Add new template to `create-near-app` allowing people to quickly initialize a Vue project integrated with NEAR

## Context

At the time of writing, https://github.com/near/create-near-app only has two frontend templates:

* vanilla JavaScript
* React

These aren't for everyone, and NEAR itself has no such limitation. It would be awesome to have a template to help people get quickly

[2020-07-09 16:26] mattlockyer opened #18 "Rust: Borsh and near_bindgen no-std version & no-std smart contract compiled wasm | Bounty: TBD"
### Disclaimer
This is a big bounty and will likely involve a lot of Rust expertise. Please reach out and comment if you are interested. Bounty value is still TBD

# Description
Create a fork/PR of Borsh that is no-std and capable of being used to compile a Near smart contract to wasm.

## Context
Currently using `create-near-app --rust [name]` produces a sample project with a compiled Near smart

[2020-07-17 20:55] robert-zaremba commented on #6
I was doing tests and found that liquidity providers can loose a value on providing liquidity if the market is very volatile and arbitrageurs will balance the AMMs. The reason is simple: the arbitrageurs gain a value - so someone has to loose.
By googling it I found that it's a known problem called "Impermanent Loss". Currently all AMM are suffering from it. This is something what Bangor v2 wants

[2020-07-20 08:37] PfanP commented on #14
@ilblackdragon Would you assign it to me?

[2020-07-20 11:04] robert-zaremba commented on #6
The implementation is available here (still WIP):  https://github.com/robert-zaremba/near-clp/tree/master/contract

I'm currently testing the reserve token exchange.

[2020-07-20 14:38] bowenwang1996 commented on #6
@robert-zaremba for impermanent loss, are we just acknowledging it? Right now there is no oracle support on NEAR so what bancor did is not feasible short term.

[2020-07-20 15:21] robert-zaremba commented on #6
Good question.
All CLP / AMM have this problem. You can only limit it if there is a stabilization mechanism (which would keep the exchange rate between 2 currencies stable), or by doing some smart pool mechanisms. The former would be limited only to coins which are relatively stable (eg tether <-> USDC). The latter is an area of active research. 

[2020-07-20 22:07] robert-zaremba commented on #6
Interesting stats about Uniswap dominance in Ethereum (data from this week).

![image](https://user-images.githubusercontent.com/811701/87991296-29280980-cae6-11ea-9963-81d134f30603.png)

[2020-07-21 14:45] robert-zaremba commented on #6
## [update] Dynamic Fees

Highly volatile markets should have bigger fees to recompensate impermanent losses.
However this leads to a problem : who can change fees.
Good news is that we can build on that without changing the CLP contract. An entity who is allowed to do modifications can be a contract and owner / contract can always change to a new owner / contract, enhancing the governance. At the

[2020-07-21 15:14] robert-zaremba commented on #6
## Supporting multi token standard

CLP has it's own token `liquidity share token`. Let's call it `CLPS` (Continuous Liquidity Pool Share). The share allows contributors to redeem their contributions with transaction fees.

With all CLPs in one smart-contracts we have essentially a multi token contact.

This contract `near-clp` could be a prototype for the multi token standard.

[2020-07-22 22:16] nearmax opened #20 "Vulnerability Report: SMPT Header Injection, Protection not used, Email server can be Hijacked"

[2020-07-23 20:18] yacare555 commented on #20
Hi @nearmax , please check this [PR](https://github.com/near/near-contract-helper/pull/192)

[2020-07-24 03:35] #20 closed

[2020-07-24 03:35] nearmax opened #21 "Full account takeover : critical vulnerability"

[2020-07-24 04:43] developerfred commented on #17
Is it still open? @chadoh

[2020-07-24 11:44] chadoh commented on #17
@developerfred all yours!

[2020-07-24 11:46] chadoh commented on #17
@developerfred you may want to start off branching from https://github.com/near/create-near-app/pull/420 and then rebase on `master` once it gets merged

[2020-07-24 12:59] developerfred commented on #17
@chadoh perfect, thanks!

[2020-07-27 21:54] #21 closed

[2020-07-27 22:36] icerove commented on #14
We already rework node page for validating table and add proposal table. and only some indicators like seat price and epoch process and block average time information left to implementation.
Also, for what information we would show on table, need comments from @frol and maybe also need design for that.
@frol

[2020-07-28 12:34] frol commented on #14
I think we should close this bounty and start a new one with more details if needed. As @icerove pointed out, the main implementation is done and the only changes we need to implement are blocked on design and some fine details.

[2020-07-28 12:34] #14 closed

[2020-08-06 22:09] chadoh commented on #17
Any updates, @developerfred ?

[2020-08-11 13:53] luciotato commented on #18
do you have an estimated for the bounty value?

[2020-08-11 14:07] mattlockyer commented on #18
Not at this time apologies. We will update this issue when we do. Priorities are ETH bridge at the moment so perhaps check for bounties related to that in the coming weeks.

[2020-08-11 15:15] luciotato commented on #12
@djuanit0x are you still working on this? I would like to take a shot at this

[2020-08-11 15:52] djuanit0x commented on #12
Yes, I started a while ago but still working on it.

[2020-08-12 00:41] luciotato commented on #11
I want to start working on this.

[2020-08-13 12:43] ChuchoResano commented on #1
Hi there NEAR team, congrats on the coinlist sale, you crushed it - literally! For a while now, I have been reading about NEAR and it's the first time I enter the GitHub, I am interested in doing this piece. How can we engage? I have a few questions. Cheers

[2020-08-13 20:40] eriktrautman commented on #1
Hi Chucho, glad to hear it!  Give me a few days to circle back on this and
I'll provide some more details.  In the meantime, what are your questions?

□-□-□
Erik S. Trautman
CEO, NEAR Foundation
Learn about the NEAR Protocol
<https://near.org/blog/the-beginners-guide-to-the-near-blockchain/>
Open Finance to Open Web
<https://near.org/blog/the-evolution-of-the-open-web/> | Blockchain
Usability <htt

[2020-08-15 22:19] luciotato commented on #17
@chadoh It's OK if I take a shot at this?

[2020-08-16 01:11] chadoh commented on #17
@luciotato: Given that we haven't had any update from @developerfred i think it's safe to go for it. @developerfred please let us know if you're still working on this and if you expect to wrap it up soon.

[2020-08-16 15:26] faragly commented on #17
@chadoh would you like to get a similar template for angular? I would love to start creating it.

[2020-08-17 00:13] luciotato commented on #17
@chadoh thanks! I advanced up-to 90% yesterday: I've created a vue3 new project with `vue create` then added the NEAR integration & equivalent front-end from the react & vanilla templates. I've tested it on a clean machine and it's working flawlessly. The repo is at https://github.com/luciotato/NEAR-Vue-example

Now I'm gonna integrate that into a template for `create-near-app`

[2020-08-17 10:47] insideNIMA opened #23 "ETH2NEAR permissionless token distribution mechanism ETH<>NEAR"
### # Description
ETH2NEAR is a fully permissionless decentralized incentive-aligned token distribution mechanism between the native tokens of Ethereum and NEAR blockchain (ETH<>NEAR) that does not require KYC/AML and uses our trustless ETH<>NEAR Rainbow Bridge.

### ## Context
NEAR Protocol is exploring options for a fully decentralized and permissionless token distribution mechanism that allows

[2020-08-17 23:24] ChuchoResano commented on #1
@eriktrautman thanks for your message. Questions were a bit around guidance/pointing to resources you think are the most insightful, Since then I have found good content to create this knowledge piece - namely the Whiteboard Series episode with Justin Drake. Finally,  knowing more about what outline are you imagining if any, - languages (could also do spanish,)
https://www.linkedin.com/in/sebastia

[2020-08-18 11:23] chadoh opened #24 "Add Angular template to create-near-app | Bounty: 1600 NEAR"
# Description

Add new template to `create-near-app` allowing people to quickly initialize a Angular project integrated with NEAR

## Context

At the time of writing, https://github.com/near/create-near-app only has two frontend templates:

* vanilla JavaScript
* React

These aren't for everyone, and NEAR itself has no such limitation. It would be awesome to have a template to help people get quic

[2020-08-18 11:24] chadoh commented on #17
@faragly I've created a bounty for Angular, #24. Let's discuss it over there!

[2020-08-18 16:02] faragly commented on #24
I start developing a template

[2020-08-18 17:49] chadoh commented on #24
Thanks, @faragly! Looking forward to hearing an update about it soon. Let me know if you run into any problems or have any questions.

[2020-08-18 18:42] luciotato commented on #11
@ilblackdragon, @chadoh can you assign me this issue?

[2020-08-18 23:07] Hugoo commented on #24
Is it possible to also take this bounty or it is only one "user" at a time?

[2020-08-19 02:11] chadoh commented on #11
I think there’s some design work to be done here. Before you get started coding, @luciotato, please document here how you plan to implement this and give us a chance to have a quick discussion about it. The sorts of questions I’d like to see answered:

* what will be the name of this CLI subdirectory?
* how will one use this CLI tool/subdirectory?
* as your contract changes, does each interface ch

[2020-08-19 02:15] chadoh commented on #24
@Hugoo we only need it implemented once, so let's give @faragly some time to work on it before creating a situation where we are not sure who to give the bounty to

[2020-08-20 16:22] faragly commented on #24
@chadoh I almost finished developing the template, in the process there were some problems, I will have to move the `config.js` file to the template directory. Angular does not allow access to environment variables in the application, so when deploying the contract, I will write a file with the exportable constant `CONTRACT_NAME`. I hope this won't be a problem.

[2020-08-20 20:05] chadoh commented on #24
@faragly that sounds great! The same thing that happened when creating the Vue template: https://github.com/near/create-near-app/pull/452#discussion_r472564404, so there might be a small conflict there. Please create a draft PR and we can discuss more there.

[2020-08-20 23:36] luciotato commented on #11
~FIRST DRAFT~ REPLACED BY [2ND DRAFT](https://github.com/near/bounties/issues/11#issuecomment-693378360) BELOW
==

Considering the example:

	near call my_validator deposit '{}' --accountId user1 --amount 100
	near call my_validator stake '{"amount": "100000000000000000000000000"}' --accountId user1

I would split this in two parts

Part 1:
--

~We need a common format for the "contract interface"

[2020-08-21 01:18] chadoh commented on #24
@faragly near/create-near-app#457 moved `config.js` to each individual template directory, deleting the file from `common/frontend`

[2020-08-21 04:32] ilblackdragon opened #25 "Java Borsh implementation | Bounty $3000 in NEAR"
# Description
A Java library that allows to generically serialize and deserialize [Borsh](https://borsh.io)

## Context
Borsh is binary serializer that NEAR uses. Java developers may want to use it to interact with NEAR.
Borsh has a simple specification outlined at https://borsh.io

Also Rust and JS implementations can be found here: https://github.com/near/borsh

Ideally Java implementation shoul

[2020-08-22 07:52] faragly commented on #24
@chadoh all that remains is to migrate [from TSLint to ESLint](https://github.com/angular/angular-cli/issues/13732) and I'll be ready to create PR.

[2020-08-22 11:42] chadoh commented on #24
You can create a draft PR to work in the open, show progress, and have conversations about it along the way

[2020-08-22 11:56] luciotato commented on #17
@chadoh Let's merge https://github.com/near/create-near-app/pull/452

[2020-08-22 22:44] robert-zaremba commented on #6
With the governance token boooom taking place in DeFi I analyzed if it's really needed for AMM smart-contracts.

YFI is a governance token. Uniswap doesn't have governance token.
IMHO, a good, AMM protocol doesn't need any governance. Market should decide about strategies. If you have better strategy, you modify a smart-contract code, deploy it and let users decide to move the funds. No need for g

[2020-08-23 09:03] faragly commented on #24
@chadoh I am facing problem passing tests with rust contract. https://github.com/near/create-near-app/pull/460

[2020-08-24 04:01] fengkiej commented on #6
@robert-zaremba agreed! I don't think every governance token does makes sense on broader terms.

But I would like to hear your considerations regarding incentive mechanism or liquidity mining scheme to gain early user tractions through the governance token (because yield farming is the hot stuff in DeFi)?

[2020-08-24 13:36] eriktrautman commented on #1
@ChuchoResano I see you're doing use case research for some other projects. This is a bit different -- it's technical in nature because it requires one to actually build a sample app in each of the platforms and identify how the developer experience is different between them. Are you able to do this?

[2020-08-24 13:44] fanhuaqiang commented on #1
我可以

---Original---
From: "Erik Trautman"<notifications@github.com&gt;
Date: Mon, Aug 24, 2020 21:37 PM
To: "near/bounties"<bounties@noreply.github.com&gt;;
Cc: "Comment"<comment@noreply.github.com&gt;;"fanhuaqiang"<824369410@qq.com&gt;;
Subject: Re: [near/bounties] NEAR vs Ethereum Developer Comparison | Bounty: $250-500 USD in NEAR (#1)

@ChuchoResano I see you're doing use case research for som

[2020-08-24 17:07] eriktrautman commented on #1
@fanhuaqiang Ok, we would welcome your contribution.

[2020-08-24 17:26] ChuchoResano commented on #1
Ok Erik, thanks I am not a developer so I guess it´s all yours @fanhuaqiang. Good luck!

[2020-08-25 23:43] #17 closed

[2020-08-26 04:15] ilblackdragon commented on #12
@djuanit0x wanted to check on the status?

I'm going to switch this to a competition given @luciotato is also interested.
Specifically, whoever provides a solution that matches acceptance criteria will get the bounty.
To submit your solution (and provide timestamp) - please leave a comment here with link to the github & webpage.

[2020-08-26 05:52] djuanit0x commented on #12
Hi, thanks for reaching me out.
I am still currently working out for at least making the website look prettier. Otherwise, I think I have managed to fulfill the acceptance  criteria. I also would like to request your feedback if you mind and anything that I can fix or improve on the project.

Project link on Github --> https://github.com/djuanit0x/nearideas
Webpage --> https://djuanit0x.github.io/

[2020-08-26 20:00] eriktrautman commented on #9
Update: See https://www.reddit.com/r/ethereum/comments/i1b4b3/nears_submission_to_reddits_scaling_bakeoff/ for a demo and code samples of building a system that operates with Reddit. It's not exactly the same but may help.

[2020-08-26 20:26] #7 closed

[2020-08-27 17:41] 0xMeir commented on #1
I could do this in english if still needed

[2020-08-27 21:38] eriktrautman commented on #1
If it's high quality, we'd be open to seeing 2 of them, so go for it!

On Thu, Aug 27, 2020 at 7:41 PM Meir Bank <notifications@github.com> wrote:

[2020-08-28 15:15] ilblackdragon opened #26 "Adapt Balancer Frontend for NEAR | Up to $4,000 in $NEAR + $BAL"
# Description
Balancer contracts can be run on NEAR inside the EVM environment. This bounty is to fund porting Balancer’s frontend to work with these contracts.

## Context

- Balancer existing frontend: https://github.com/balancer-labs/balancer-exchange
- Balancer contracts deployable to NEAR node: https://github.com/ilblackdragon/balancer-core
- NEAR Wallet: http://github.com/near/near-wallet
-

[2020-08-28 15:18] ilblackdragon opened #27 "Integrate Balancer into NEAR Wallet | Up to $6,000 in $NEAR + $BAL"
# Description

Balancer contracts can be run on NEAR inside the EVM environment. This bounty is to fund adding interfaces to swap tokens using Balancer into NEAR Wallet.

## Context

 - Balancer contracts deployable to NEAR node: https://github.com/ilblackdragon/balancer-core
 - Balancer existing frontend: https://github.com/balancer-labs/balancer-exchange
 - NEAR Wallet: http://github.com/near/ne

[2020-08-30 17:37] kamescg commented on #27
Would love to handle this bounty. Besides the Acceptance Criteria anything else I should be mindful of?

Can handle the design and technical integration.

 In regards to `matching design to the rest of UI` I noticed the Wallet s using Semantic UI in the NEAR wallet. I presume the objective is keep that design system moving forward?

[2020-08-30 17:46] kamescg commented on #26
In addition to helping with https://github.com/near/bounties/issues/27 happy to help set this up.

The application should basically do everything the Ethereum version is capable of, correct?

[2020-08-30 21:29] kamescg commented on #27
Spent some time getting familiar with the current wallet application setup.

![image](https://user-images.githubusercontent.com/3408362/91669771-7d9eab80-eacc-11ea-941b-886369766311.png)

In regards to completing transactions, thoughts on using a `hooks` based approach? It might be a bit easier to pass around state and action handlers.

Something similar to https://github.com/NoahZinsmeister/web3-

[2020-09-01 20:12] vgrichina commented on #27
@kamescg

we aren't using it efficiently, long-term plan is to get rid of this framework cc @Patrick1904

[2020-09-01 20:12] vgrichina commented on #27
we are currently using Redux to manage state. It's usage can be combined with hooks (`useDispatch`, `useSelector`, etc)

[2020-09-01 20:19] Patrick1904 commented on #27
Yes please refrain from using semantic-ui html (if possible) and utilize styled-components to build any new, re-usable, UI components.

[2020-09-02 00:13] kamescg commented on #27
@vgrichina Thanks for heads up. Will reframe from utilizing Semantic UI.

Recently been leaning heavily only on a `hooks` based approach, but won't have an issue hopping back into Redux.

@Patrick1904 Sounds good. I'll add a few layout modules (Flex/Box components) to setup the Swap components.

Anything else I need to do before being assigned to the issue?

[2020-09-02 04:55] kamescg commented on #27
Diving into the Redux setup now. Quick question.

Should contract state (request/success/failure) be kept in a generalized object or should the state specifically track swaps?

In the past I had a Redux setup that managed generalized contract interactions, instead of adding actions/reducers specific to each smart contract.

https://github.com/kamescg/mvp/tree/c626957a90e38a09e7dd94abecf4b464a0d337

[2020-09-02 16:28] mesozoic-technology commented on #6
Why rust vs assemblyscript?

[2020-09-02 17:06] ilblackdragon commented on #26
@kamescg yes, correct. Customized to connect with NEAR Wallet instead of Ethereum wallets.

[2020-09-02 17:07] robert-zaremba commented on #6
There is no discussion about Rust vs AS. Both are good. Here we wanted to use Rust because it's more mature. That being said AS would also work perfectly.

[2020-09-02 22:03] vgrichina commented on #27
@kamescg I think it's best if your UI uses separate state root to avoid interfering with other stuff in wallet.

That seems to be a bit counter productive. Ideally one Redux action should correspond to one specific action in business logic (vs being generalized). If something needs to happen for multiple different actions – it can be generalized in reducer / middleware.

[2020-09-02 22:09] vgrichina commented on #26
@kamescg I feel like it might be best to do this before doing https://github.com/near/bounties/issues/27, as it would be easier to launch than integration into wallet (as it will require more scrutiny to be included in wallet itself).

[2020-09-02 22:35] robert-zaremba commented on #6
NEARswap will be on the Hack the Rainbow hackathon!
Here is a summary / plan of the next steps we can do there: [NEARswap hacks the Rainbow](https://www.notion.so/NEARswap-Uniswap-bridge-7571c7c5e1844d448c8bf6c0d5e866f5)

[2020-09-03 14:50] kamescg commented on #27
@vgrichina True. I think it just depends on the application. At the time was setting up a way to dynamically add new contract functionality to the app structure without writing a bunch of Redux boilerplate (which gets old after awhile), but for this situation would probably be overkill.

In terms of managing contract, should I just add classes (similar to the wallet) and have components initialize

[2020-09-03 15:00] kamescg commented on #26
@vgrichina Makes sense. At the moment though, it seems like the Balancer contracts aren't working? I attempted to deploy the contracts myself and also use the factory on chain already, but wasn't able to create a new `BPool` in either case? Maybe that's not the case right now and I'm just missing something.

[2020-09-03 19:03] vgrichina commented on #26
@kamescg looks like there might be not enough gas. Maybe makes sense to try with Uniswap contract as it should have less gas usage.

@ilblackdragon @mikedotexe maybe you have more context on EVM /  Balancer? There might be some way to run locally with higher gas limits?

[2020-09-03 19:03] Patrick1904 commented on #26
@corwinharrell @kcole16 should we provide a design for this?

[2020-09-03 20:23] sima2607 commented on #12
Hi, tell me how much time is left until the end
Idea bank | Bounty. I have an idea, but is it worth starting or is it too late?

[2020-09-03 21:34] heycorwin commented on #26
@Patrick1904 @kcole16 yes it certainly sounds like it would be appropriate at the very least for this to share common components / visual design with our other products, although I'd expect some flak from Balancer/ETH folks if the UX would otherwise remain unaltered.

[2020-09-03 23:03] potatodepaulo opened #28 "Hack the Rainbow Mega Prize ($50k total prizes)"
### NEAR’s Hack the Rainbow Mega Prize ($50k total prizes)

### Prize Bounty
Prizes are 80% $NEAR tokens and 20% DAI (here expressed in $ equivalent). The total value of prizes provided by NEAR foundation is $50,000. Here is the breakdown of prizes:

- One 1st place winner who receives $5000
- Five 2nd place winners each receiving $3000
- Twenty 3rd place prizes each receiving $1000
- Twenty alloc

[2020-09-04 19:31] ilblackdragon opened #29 "Rainbow Bridge NFT Connector | Bountry $TBD in NEAR"
# Description
Implement an NFT connector for Rainbow Bridge.

General idea is to fork Token Connector and adjust it to support NFTs (ERC-721 & NEP-4)

## Context

 - Overall details about Rainbow bridge: https://near.org/blog/eth-near-rainbow-bridge/
 - Entry point for implementation: https://github.com/near/rainbow-bridge-cli
 - ERC-20 token connector: https://github.com/near/rainbow-token-connec

[2020-09-05 04:18] vgrichina commented on #27
@kamescg given that we don't have any support for custom tokens in wallet (and it yet to be designed), I think it's best to make standalone demo first: https://github.com/near/bounties/issues/26

It seems like building this into wallet would require a lot of design effort in terms of how do we implement custom tokens in wallet itself, whether we cache any state like token balances, etc

[2020-09-07 19:06] ilblackdragon commented on #26
@kamescg Currently it is fully working only on the customized node with pre-compile: https://github.com/nearprotocol/nearcore/pull/3257

You can checkout this branch and run with:
[code]

We are going to spin up a network to test this shortly.

[2020-09-09 19:46] ilblackdragon commented on #10
Closing this, because we are going to build multisig support into near-cli

[2020-09-09 19:46] #10 closed

[2020-09-09 19:47] ilblackdragon commented on #3
It has been implemented and live for awhile now. Closing this bounty.

[2020-09-09 19:47] #3 closed

[2020-09-09 19:47] ilblackdragon commented on #4
Have been implemented internally on the "mixnet".

[2020-09-09 19:47] #4 closed

[2020-09-09 19:49] ilblackdragon commented on #11
@luciotato are you planning to work on this bounty?
If yes, do you need any input on our side?

I like your suggestions on "100N" vs "100yN". Also generally, I think we should use N everywhere by default.
The yoctoNEAR are right now in arguments - because those arguments are raw data going to blockchain. But CLI should wrap that for sure.

[2020-09-10 05:13] luciotato commented on #11
@ilblackdragon I was waiting for your comments and approval. I can start working if you're OK with the plan.

[2020-09-14 08:58] faragly commented on #24
@chadoh sorry for delay, I did some updates, you can review my PR.

[2020-09-16 12:41] luciotato commented on #11
Ok, I'll start with this, this is the new plan:

SECOND DRAFT
==

Considering the example:

	near call my_validator deposit '{}' --accountId user1 --amount 100
	near call my_validator stake '{"amount": "100000000000000000000000000"}' --accountId user1

I would split this in two parts

Part 1:
--
I'll make a minimal **rust parser** with enough knowledge to parse a contract's `src/lib.rs` and extrac

[2020-09-16 14:34] mattlockyer commented on #6
@robert-zaremba excited to see this! Saw your comments about no gov token. I think that's smart to keep a v1 simple. I would spend more time and effort on making sure that upgradeability is smooth and there's no need for migrations either for orders or liquidity providers, i.e. the new contracts should extend on top of the same data structures and storage as the existing :+1:

[2020-09-16 15:51] vince0656 commented on #29
Sent @potatodepaulo a message on discord about working on this as part of the hackathon

[2020-09-17 12:47] frol commented on #18
@mattlockyer @nearmax I propose we split the bounty into smaller chunks:

0. identify and exhaustively list the dependencies and the features that cannot be used in no-std/alloc environment for (a) borsh, (b) near-sdk-rs. (will be, essentially, part of the (1) and (2) bounties)
1. implement the base-line no-std support for borsh (e.g. the API could be less ergonomic, yet useful enough to unblock n

[2020-09-17 22:11] robert-zaremba commented on #6
Uniswap introduced a governance token. Most of the AMM have governance token. For me it's really a game. It's ridiculous to see that token like UNI or yearn.finance has market cap bigger than many layer-1 blockchains! Imagine how much resources (work) and innovation is done in the layer-1 vs Uniswap!!

How we can justify that the market cap of `yearn.finance` is 1bln USD today? For me this is pure

[2020-09-18 19:58] ilblackdragon opened #30 "Rainbow Bridge Ampleforth Connector | Bounty TBD"
# NEAR Bounty Terms

This is part of https://near.org/rainbow hackathon.

# Description
Implement Rainbow bridge connector for Ampleforth.

## Context
AMPL is an adaptive base-money, that adjusts total supply based on supply and demand. Can learn more https://www.ampleforth.org/

Rainbow Bridge has a generic ERC-20 connector implementation. But AMPL token won't work correctly with it, because of `

[2020-09-20 09:24] defiboy commented on #30
hello, I would like to start working on this, what do I need to do?

[2020-09-21 04:30] ilblackdragon commented on #30
@defiboy assigned it to you here. Feel free to ping us with questions in https://near.chat, also can connect with AMPL team if there are questions.

[2020-09-21 11:43] defiboy commented on #30
yes, thanks

[2020-09-22 11:44] Yolotron commented on #12
Hi man, I was testing it out.
I missed the option to delete my Idea.
I missed the box to add a small description.
and seems the idea just publish if I vote, other wise the transaction does not pup up
Besides, feels good :D

[2020-09-25 22:01] SkidanovAlex opened #31 "[500 DAI] Implement a time machine for NEAR testing infrastructure (rust, python)"
# NEAR Bounty Terms
Before beginning work on the bounty, you must submit a proposal.  Only if your proposal is accepted will you be able to claim the reward of the bounty.

There should be at most 1 week between proposal is accepted and you start working on the bounty. It should take you at most 2 weeks to complete the bounty.

# Description
NEAR tests are written in python and use a rich library

[2020-09-28 17:55] cyberpunk9932 commented on #1
Hi! I could do this task on English. I worked on several projects like: Keep, Avalanche (coding, design, translations). I have 2 years of JavaScript developer and UX/UI designer experience.

[2020-09-28 19:36] eriktrautman commented on #1
@cyberpunk9932 Looking forward to it :)

[2020-09-28 21:17] cyberpunk9932 commented on #1
Great! :) Is there any submission, or who does it first - claim the reward?

[2020-09-29 06:28] eriktrautman commented on #1
There have been no submissions yet (or drafts) so I see no reason which
would stop you from being the first.

On Mon, Sep 28, 2020 at 11:17 PM cyberpunk9932 <notifications@github.com>
wrote:

--
—
Erik S. Trautman
CEO, NEAR Foundation
https://www.nearprotocol.com

[2020-09-29 06:52] cyberpunk9932 commented on #1
Got you! Start working!

[2020-09-29 20:19] luciotato commented on #11
Update: I've completed the goals of Draft#2. - I'm the phase of testing, writing docs and creating a screen-cast demo.

[2020-09-30 11:09] cyberpunk9932 commented on #1
[NEAR vs ETH.pdf](https://github.com/near/bounties/files/5304971/NEAR.vs.ETH.pdf)
Done! Check it out :)

[2020-10-01 19:23] artob commented on #25
As discussed on a call with @potatodepaulo just now, I'm working on this bounty, expecting to deliver by end of next week.

[2020-10-04 17:16] auxelarry opened #32 "Validator bulletin board | Bounty: TBD"
# Description
Single place for validators to publish information they want to be seen by token holders and general public (their mission, stances on upcoming votes, general opinions, etc...).

## Context
Token holders currently have no easy way to find out what each validator is about. It requires going through each validators page and social media accounts, or search through discord/telegram. Inf

[2020-10-05 10:35] vince0656 commented on #29
@ilblackdragon @potatodepaulo see draft PR above. Made progress during the hackathon but started working on things pre token connector (the token connector wasn't being used in the CLI when I had cloned the repo and the contracts repos too)

[2020-10-06 13:28] eriktrautman commented on #1
Cool @cyberpunk9932 .  It does a good job overviewing the NEAR system but misses the developer journey portion -- walking through as a developer who is actually building an app and doing a UX side-by-side experience with an accompanying visual chart. For example, a flow chart or more easily consumable format to illustrate visually how these two experiences are different.  Can you add that?

A few

[2020-10-06 21:13] vince0656 commented on #29
https://medium.com/@vince0656/bridging-ethereum-nfts-to-near-505a272ec949

[2020-10-07 11:35] cyberpunk9932 commented on #1
Ok, I'll do changes. I can publish it on Medium, Reddit, post on Twitter with a link to article, Google Docs. It's up to you.

[2020-10-07 23:45] auxelarry commented on #32
Not needed anymore, better and more robust solutions discussed in https://github.com/near/phase2-validator-votes/issues/7

[2020-10-07 23:45] #32 closed

[2020-10-08 06:18] luciotato commented on #11
@ilblackdragon,  I've a working tool for this bounty:

Check:
https://github.com/luciotato/create-contract-cli

[![asciicast](https://asciinema.org/a/364018.svg)](https://asciinema.org/a/364018)

[2020-10-08 08:27] luciotato commented on #13
@ilblackdragon I can start with this bounty. Details and functionality are clear.

The plan is to build a web app with 3 kinds of users in mind, Auditor, Developer and Contract-User. The functionality is pretty clear from the contract and the blog-post.

Besides the app, I'll include a cli-tool to operate on the contract, I guess the cli-tool could become the preferred choice for developers and au

[2020-10-08 09:40] aistoc commented on #13
@luciotato, work is already in progress for this one.

[2020-10-09 11:07] cyberpunk9932 commented on #1
I think I'll finish the work today. Where to publish the article? Medium?

[2020-10-09 20:15] chadoh commented on #24
Great work, @faragly!

[2020-10-09 20:15] #24 closed

[2020-10-10 10:03] cyberpunk9932 commented on #1
Fixed the article according suggestions!

[2020-10-10 10:07] cyberpunk9932 commented on #1
Fixed the article according suggestions!
1. Fixed some links, added a new ones where applicable
2. Added a new chapter "Developer side comparison" and "Basic practice moments comparison"
3. Capitalized "NEAR" in whole article
[NEAR vs ETH ver. 1.5.pdf](https://github.com/near/bounties/files/5358807/NEAR.vs.ETH.ver.1.5.pdf)

[2020-10-10 10:22] andytcf commented on #8
Is this one still ongoing? Is there any additional details and requirements that haven't been included as this issue was opened a while back?

Thanks

[2020-10-10 17:59] chadoh commented on #24
@faragly please send an email to me at chad [at] near [dot] org and I will arrange your bounty

[2020-10-12 19:29] artob commented on #25
My in-the-works project is now public at [github.com/artob/borshj](https://github.com/artob/borshj). It's almost finished, I will wrap it up in the next days. Will have a call with @potatodepaulo about it shortly.

[2020-10-13 16:53] behaviary commented on #25
@ailisp will review this code. @artob please let him know when you feel it's ready for a review.

[2020-10-13 19:35] hqd351 commented on #1
Hello. I am able to do this article in Chinese and Spanish if aplicable.

[2020-10-13 19:46] ailisp commented on #25
Looks it's overall finished and in good shipped. I reviewed existing code and here is something i found:

- String UTF-16 - looks good

- consider code reuse between BorshBuffer<>BorshReader BorshWriter<>BorshBuffer

- some TODO, like serialize array

- reader and writer test not completed

- consider add a recursive `implements Borsh` test cases, e.g.:
[code]
And test Rect can also be serialized

[2020-10-13 20:50] artob commented on #25
@ailisp Thanks for the (slightly premature, but appreciated!) review :) I will address your comments and push a new version for review in the next day or two.

Do you have any thoughts regarding what we should do for fuzz testing here? That is one of the listed acceptance criteria, but it wasn't obvious to me how to proceed on that, since decoding random bytes (such as produced by fuzzing) would n

[2020-10-13 21:34] maxzaver commented on #25
You could use Java reflection to generate some random hierarchies of classes, then serialize them, deserialize the result and compare that it is the same as before serialization.

[2020-10-13 23:40] nearmax opened #33 "Trying to lockup subaccount with near-cli"
Investigate how near-cli can be used to accidentally lockup subaccounts

500 DAI

[2020-10-14 08:57] RedaOps commented on #33
Hi! What do you mean by locking subaccounts? [Locking balance for staking?](https://nomicon.io/Architecture.html#assume-every-account-belongs-to-its-own-shard) Also, what do you mean by "accidentally" locking subaccounts?

Have a great day!

[2020-10-16 16:50] ilblackdragon opened #34 "Zero Knowledge Proof for NEAR light client"
# Description
Light client for NEAR is relatively cheap in verifying, outside of set of ed25519 signatures of block producers.
Compressing the light block verification to just verifying of a single proof would provide a useful tool to sync blocks faster and use it in the Rainbow bridge.

## Context

NEAR's light client specification is described here: https://nomicon.io/ChainSpec/LightClient.html

[2020-10-17 13:59] artob commented on #25
@ailisp @nearmax All right, I've pushed [a new version](https://github.com/artob/borshj) that I believe is ready for your substantive review and does address all previous comments as follows:

I've refactored the implementation, moving common code into the new [`BorshInput`](https://github.com/artob/borshj/blob/master/src/main/java/org/near/borshj/BorshInput.java) and [`BorshOutput`](https://githu

[2020-10-19 09:47] artob commented on #25
@ailisp @nearmax I've now [implemented fuzz testing](https://github.com/artob/borshj/blob/master/src/test/java/FuzzTests.java) as well, based on @nearmax's suggestion. Using Java reflection plus [cglib](https://github.com/cglib/cglib), we generate a random hierarchy of recursive Java classes, and roundtrip (using `Borsh.serialize()` followed by `Borsh.deserialize()`) instances thereof to find any

[2020-10-19 15:16] maxzaver commented on #25
@ailisp Could you please take a look?

[2020-10-19 17:17] ailisp commented on #25
@artob @nearmax I took a look, all comments are addressed and fuzzy test is done. The repo satisfies all of acceptance criteria and I think it's a beautiful implementation that can be a reference for borsh in other programming languages :+1:

Some additional improvements:

- zero size corner cases is missing, i think this is the only missing one: https://github.com/near/borsh/blob/master/borsh-rs/

[2020-10-19 23:05] artob commented on #25
Thanks, @ailisp, I appreciate the review and the kind words. I'll add the additional improvements you mentioned as well :+1:

[2020-10-20 10:42] eriktrautman commented on #1
Could you reach out over email to finish this? You can use myfirstname@near.org

[2020-10-20 16:04] ilblackdragon commented on #30
@defiboy wanted to check in on the status here

[2020-10-20 16:13] cyberpunk9932 commented on #1
Sent :)

[2020-10-20 18:57] behaviary commented on #11
@chadoh will be able to review today or tomorrow. Thanks for this submission! This does look cool!

[2020-10-20 19:45] behaviary commented on #1
@artob working on the English version of this. Just documenting.

[2020-10-20 21:49] chadoh commented on #11
Looks cool! Nice devx. I look forward to seeing how people use this!

Some specific critiques on the approach here:

* I see a `z-old` folder. Should this be removed?

* I think most projects should avoid having build artifacts checked into the codebase. You might be able to get rid of `dist` and `res`

* I see the `--target ts` item on the roadmap. How much more effort would that be? What benefit

[2020-10-20 22:50] #11 closed

[2020-10-21 04:33] luciotato commented on #11
Hi Chad!

Yes

`/dist` can be removed once we publish this as an npm package. OTOH `/res` is "resources" and it's needed

You're right, I'll remove that from the roadmap

Yes

The most common numeric argument type for contracts is U128/yoctos, that's why no-decorator means NEAR which in turn converts `5` to `"500000000000000000000`" before sending it to the contract
"i" means: send it as it is, no

[2020-10-21 05:34] luciotato commented on #11
I rewrote most of the readme based on your suggestions

[2020-10-21 13:57] ghost commented on #27
still available?

[2020-10-27 03:29] bi23com commented on #27
still available?

[2020-10-27 11:15] frol commented on #27
@kcole16 Can you assess the bounty availability?

[2020-10-28 08:10] aj07 commented on #1
Is this bounty still open ?

[2020-10-28 08:13] aj07 commented on #8
Is this bounty still Open ?

[2020-10-29 18:36] artob commented on #25
We've moved the BorshJ repository to [near/borshj](https://github.com/near/borshj) and I've ticketed @ailisp's follow-up comments at https://github.com/near/borshj/issues/1.

@potatodepaulo Since this bounty is completed and has been paid out, you could go ahead and close this?

[2020-10-30 06:43] wjy7551376 opened #35 "An idea bank"
# Description
An app can post idea on the blockchain

## Context
Everyone can contribute their idea to the system

# Acceptance Criteria
* [ ] [Checkboxes for features that are necessary to this being completed]

# Bounty
$500

[2020-10-30 18:04] ilblackdragon commented on #35
Duplicate for https://github.com/near/bounties/issues/12 ?

[2020-10-31 16:48] vporton commented on #31
I am going to start work today or next day.

[2020-11-01 12:51] vporton commented on #31
https://github.com/near/nearcore/blob/774ac1fe95ef6d1e1741517b7bb46f989c767c32/chain/network/src/routing.rs uses `Instant::now()`. Should them also be replaced (like `Utc::now()`)?

[2020-11-02 21:12] vporton commented on #31
I realized that my Rust skills are yet not enough (I should keep learning Rust programming). Sorry for the time lost.

I do not see "Stop work" button at https://gitcoin.co/issue/near/bounties/31/100023777 - can anyone explain how to refuse to fulfill this task?

[2020-11-04 12:17] eriktrautman commented on #1
With 1 done and 1 in progress, I'm closing and marking claimed.

[2020-11-04 12:17] #1 closed

[2020-11-05 19:50] #25 closed

[2020-11-06 17:57] behaviary commented on #28
@insideNIMA has this hackathon stuff been closed out? We can close this issue when it's done.

[2020-11-14 00:30] wjw12 commented on #15
I'm interested in this bounty issue. Are there any specific requirements of the contract? What interface functions do I need to implement?

[2020-11-14 18:51] alexeyneu commented on #15
just google  ` "HTTPS pages are signed with SSL certificates" `

https://www.ssl.com/article/ssl-tls-handshake-overview/

picture , shared secret key stuff
no chances

[2020-11-16 21:03] ilblackdragon commented on #13
Related, given Apple's recent debacle - this same registry can be leveraged to also track relationship of both software source code and binary to developers when running it.

External verifications (challenge) is possible to confirm that for open source software indeed this binary is compiled from given source code.

[2020-11-16 22:01] behaviary commented on #35
Closing since this is duped.

[2020-11-16 22:01] #35 closed

[2020-11-17 00:32] dpc commented on #13
Hi. I'm the initial creator of https://github.com/crev-dev/crev/ which is exactly what you describe here (I think?). It uses a self-generated cryptographic identities and a flexible (and swappable and customizable) Web of Trust to establish trust, and arbitrary review distribution mechanisms.

It also has an already implemented Rust programming language integration, that you can test by installing

[2020-11-17 20:34] behaviary commented on #26
Just want to check if this is fully claimed @ilblackdragon. There is another team interested in working on it.

[2020-11-17 20:34] behaviary commented on #27
Just want to check if this is fully claimed @ilblackdragon @kcole16 . There is another team interested in working on it.

[2020-11-17 21:11] ailisp opened #36 "Golang Borsh implementation | Bounty $3000 in NEAR"
# Description
A Golang library that allows to generically serialize and deserialize Borsh

## Context
Borsh is binary serializer that NEAR uses. Golang developers may want to use it to interact with NEAR.
Borsh has a simple specification outlined at https://borsh.io

Also Rust and JS implementations can be found here: https://github.com/near/borsh
Java implementation can be found here: https://git

[2020-11-23 16:10] mattlockyer commented on #18
Closing because of this reference implementation of token with no-std:
https://github.com/near/core-contracts/tree/b7dd5e1ba572c853a727dd616d039411f363533a/fast-fun-token

[2020-11-24 02:20] maxzaver commented on #18
@mattlockyer I think this bounty is still relevant. We need no-std support of both borsh and near-sdk-rs for various reasons.

[2020-11-24 11:15] pczarn commented on #31
Hello @SkidanovAlex. I applied for the task. I heard the @gitcoinbot may be malfunctioning. It didn't post here 2 days ago when I applied. I'm not sure whether you got notified about me applying through gitcoin itself.

[2020-11-24 17:50] maxzaver commented on #18
Adding the plan on how to implement it:

For both crates would like to add support of no-std similarly to how serde did it:
* Create a separate std feature: https://github.com/serde-rs/serde/blob/master/serde/Cargo.toml#L32
* Condition no_std on absence of this feature: https://github.com/serde-rs/serde/blob/master/serde/src/lib.rs#L87
* Then use this feature to decide what to import: https://gith

[2020-12-03 18:27] mikedotexe commented on #26
I believe this bounty is up for grabs at this time.

[2020-12-09 19:55] mikedotexe commented on #5
@aistoc is this in development?

[2020-12-10 09:42] aistoc commented on #5
@mikedotexe, this was completed some while ago.

[2020-12-11 16:40] mikedotexe commented on #5
Adding to thread that the repo in discussion is:
https://github.com/CrossChainLabs/near-registrar

[2020-12-13 10:53] pczarn commented on #31
I'm down, being sick. I will be back within a few days.

[2020-12-13 15:59] ilblackdragon commented on #8
Yes, this bounty is still open.
If anyone wants to work on it - please post progress here for everyone to see.

[2020-12-17 13:08] derevyanayloshadka commented on #6
is it still active?

[2020-12-17 14:11] robert-zaremba commented on #6
This done. NEARswap beta is deployed on the testnet, here is the [webapp_with_CDN](https://siasky.net/AACmBLZQ1BQXuMX7JOkFSWSN9HA69e6qx5YLgw8nJYSw8g/) or other [version without CDN](https://siasky.net/CACKhQDHy33a2I16_LtB5Nkl3aGmTKkONCzqVfdm4RIARw/)
Here is a demo video: https://www.youtube.com/watch?v=_3j9yzf1TMg

During last month we added UI support for creating new pools and adding liquidity t

[2020-12-21 14:59] ilblackdragon commented on #13
See post with current status: https://gov.near.org/t/audit-registry-add-accountability-and-visibility-of-which-applications-were-reviewed-and-by-whom/234

[2020-12-21 20:11] alexauroradev commented on #29
Moved to https://github.com/near/rainbow-non-fungible-token-connector/issues/1

[2020-12-28 07:47] leofisG commented on #36
Hi, I am interested in working on this if no one has started. Thanks.
( Update: looks like there is already someone assigned to work on this

[2020-12-28 12:42] frol commented on #36
@524119574 I have not heard of anyone working on it, so please, go ahead!

[2020-12-30 07:44] leofisG commented on #36
I'd like to attempt implementing this. But I do have some questions before starting:
1. GoLang doesn't have a built-in type for `option` type nor generic what are your thoughts on best representing the `option` type in GoLang? I am thinking maybe I can do something like:
[code]
Any other thoughts/recommendation?
2. Does the [`borshj`](https://github.com/near/borshj) libraries support `map` or `set

[2021-01-04 23:02] ailisp commented on #36
For 1 I think your solution works well and semantically correct, but introduced a `interface{}` type which is slower than original specific type. What do you think of simply a pointer of original (when nil means not present).

For  2. borshj seems not, but for original borsh-rs it does, and I think it's better to at least support `map` in borsh-go because it's a golang primitive.

https://github.c

[2021-01-05 06:41] matiasinsaurralde commented on #36
Would a `cgo` wrapper work for you?

[2021-01-08 17:22] frol commented on #18
borsh-rs has received no_std support: https://github.com/near/borsh/pull/108

@nearmax do we have a team working on no_std support near-sdk-rs? Can we assign them on this issue?

[2021-01-17 22:19] potatodepaulo opened #37 "Crypto Corgis Cleanup and Extension"
# Description
[Crypto Corgis ](https://corgis.near.org/) is an NFT project that needs a cleanup

## Context
[Crypto Corgis ](https://corgis.near.org/) is an example application that demonstrates some of the features of the NEAR blockchain. Since it's creation, it has not been maintained and deployed on MainNet. This bounty provides funds to update, expand and deploy Crypto Corgis on the NEAR MainN

[2021-01-21 23:03] crasskitty opened #38 "NEAR Open-Source Plugin for Bubble.io | Bounty TBD"
# Description
We're looking to have an open-source plugin for [bubble.io](https://bubble.io) built and implemented, so that non-developers can launch apps on NEAR through a no-code solution.

## Context
NEAR is all about being the most accessible blockchain, and that includes giving opportunities to people who are not traditional developers to deploy apps on NEAR.

[Bubble.io](https://bubble.io) i

[2021-01-28 00:50] StEvUgnIn commented on #36
I may start design a PlantUML diagram. When done, I'll start implementing.

[2021-01-30 13:22] ouromoros commented on #36
Hi, it seems that currently no one is working on it. I think I'll give it a try.

[2021-01-30 16:31] ouromoros commented on #36
About half the code is done :) Can I get assigned? @ailisp

[2021-01-30 19:07] mattlockyer opened #39 "NEAR <> Ceramic Clay Testnet Integration Example Apps"
# Description
Create a sample app integrating with NEAR Wallet and Ceramic (optional have your own contract interactions) and have it be deployable on `testnet` by any developer who needs to use it as a boilerplate to start their app. This should include adding support for NEAR to authenticate and link to Ceramic identities (see guides) and have the app deployable on testnet by any developer who n

[2021-01-31 03:41] TrevorJTClarke commented on #39
App Idea:
* Vue + NEAR + Ceramic
* NEAR Login
* Enter a message (could be an encouraging message, like giveprops.app)
* Sign & send to chain the hash of the message, send full data to Ceramic
* View message(s)

Dev details:
* Create new github repo, add "template" feature for easy use later
* Setup build scripts & development for easier onboarding into development
* README with notes on getting se

[2021-01-31 03:52] mattlockyer commented on #39
@TrevorJTClarke nice idea! Would be cool to get an alert if I sign in with my wallet and there is a message that was tagged with my accountId :smile:

[2021-01-31 04:10] TrevorJTClarke commented on #39
@mattlockyer seems reasonable -- guess that would just be a filter to messages assigned to your account. let's call that a stretch goal ;)

[2021-01-31 04:15] ouromoros commented on #36
https://github.com/ouromoros/borsh-go

Work schedule:
- [x] Implement non-native types (Enum, Set)
- [x] Support for struct tags for `borsh_skip`
- [x] More comprehensive tests
- [x] Documentation
- [x] Fuzz test

[2021-02-01 11:15] frol commented on #36
@ouromoros Great job! I think it is worth explicitly mentioning on the README that more usage examples can be seen in the `borsh_test.go` file.

@evgenykuzyakov Could you help to review this Borsh implementation in Go? Do we have some set of binary blobs that we can use to test implementation compatibility?

[2021-02-01 12:53] ouromoros commented on #36
@frol Sure, I've added that mention.

I think I'll also find time to write some in-comment docs.

[2021-02-02 23:55] ALuhning commented on #39
Alrighty - think I've got this figured out.

**App Idea:  User Profiles**
- React, Ceramic, IDX, AssemblyScript all on NEAR, of course.
- NEAR Wallet Flow for sign in/sign out
- On login, does some initialization: generates DID and associates it to NEAR account using 32 bytes of the 64 byte signature from a signed message to create the seed and then storing the DID in a did registry on NEAR, creat

[2021-02-03 21:37] ailisp commented on #36
@ouromoros I checked your implementation and looks awesome! The test coverage is more than great. @nearmax imo this satisfies our accepting criteria

[2021-02-04 09:06] TrevorJTClarke commented on #39
Added PR js-ceramic [here](https://github.com/ceramicnetwork/js-ceramic/pull/881)

Main app repo: https://github.com/TrevorJTClarke/near-ceramic-vue

[2021-02-04 17:40] le-dawg commented on #27
Open or closed team?

[2021-02-04 20:04] memoriesadrift commented on #26
Hi,
it has recently come to my attention that there are two repos for the balancer frontend - [balancer-exchange](https://github.com/balancer-labs/balancer-exchange) and [balancer-frontend](https://github.com/balancer-labs/balancer-frontend).
This bounty specifies a fork of the balancer-exchange repo, is there some reason for this?
The balancer-frontend repo is a more recent version of the fronten

[2021-02-05 01:28] ALuhning commented on #39
Added a draft CAIP-2 for NEAR - [PR here](https://github.com/ChainAgnostic/CAIPs/pull/43)

[2021-02-05 04:15] jlwaugh opened #40 "ETHDenver Bounteez!"
# Hack with NEAR ✨

## Watch the [Video](https://www.youtube.com/watch?v=3w4xd-1pU6c)

### NEAR-specific ♾️
#### Blue Sky Hack :blue_heart:
For teams who build something cool on the NEAR platform or use the Ethneareum Rainbow Bridge.
**2 prizes available, $1000 each**

#### NFTs Bounty 🖼️
Deploy your own store on Mintbase via the NEAR Testnet, and get creative with use cases! NFTs can be more than

[2021-02-08 12:36] ouromoros commented on #36
@ailisp Thanks! I wonder if my next step would be: 1. move the project under near 2. collect my bounty :)

[2021-02-08 13:27] frol commented on #36
@ouromoros

1. yes, let's arrange that, please, add me to the repo owners, so I can transfer it
2. I am going to remind @nearmax, sorry for the delay

[2021-02-08 15:52] ouromoros commented on #36
@frol Sure, seems like Github doesn't have an add owner option. So I guess I'll just transfer it to you first.

I'm willing to wait as long as NEAR doesn't 🚀 🚀 🚀 to the 🌕 before I get paid ;)

[2021-02-08 15:56] frol commented on #36
@ouromoros Great! I have already transferred it to https://github.com/near/borsh-go :rocket:

[2021-02-10 10:11] eriktrautman opened #41 "NEAR staking rewards tax tracker [$2000 in NEAR]"
# Description
An open source web-hosted UI where people can track their staking rewards and other relevant tax information.

## Context
Community members who stake usually have tax obligations based on the distribution of their rewards, so it is very important for tax season and useful in general to be able to see the income and tax implications of staking.

One dev hacked together [a one-off tool

[2021-02-12 00:50] TrevorJTClarke opened #42 "NEAR + Rust Contract Interface Parser"
# Description
Building a dapp currently needs manual input of function names into `changeMethods` & `viewMethods` to use in near-api-js. Other popular blockchains have build scripts that parse the contracts to extract the "ABI", which allows for easy javacript module import and usage.

## Context
In building several dapps, its become a common missing piece to have my rust contracts auto-compile to

[2021-02-12 03:16] ouromoros commented on #42
This looks fun. I would like to work on it.

[2021-02-12 09:51] matteopozzadev commented on #41
I'd like to complete this bounty, Is there any formula, given the current stake of an ccount_id and current time, to calculate the rewards?

[2021-02-12 10:53] frol commented on #41
@matteopozzadev there is no formula, you need to go over each epoch and query the delegated balance for the given account from the staking pool(s), and display the difference between the value from a previous epoch (a positive difference can be either the reward or extra deposit, ideally, we want to distinguish that, but in the meanwhile, we can live without this)

[2021-02-12 10:54] frol commented on #41
Use https://archival-rpc.mainnet.near.org RPC server to be able to query the historical data, but make sure to handle potential errors in the responses (and retry if that is possible)

[2021-02-12 12:26] memoriesadrift commented on #26
@mikedotexe @corwinharrell @ilblackdragon pinging regarding my above question.

[2021-02-12 12:56] ouromoros commented on #42
OK, my first thoughts are to manually do some simple parsing work and probably some regex to match and find the methods in Rust source code. However, this can result in a lot of edge cases if not treated carefully and will probably in the end result in writing a basic Rust lexer/parser.

Second thoughts are using `rustc` to generate AST tree output and start from there. However, this would require

[2021-02-12 13:33] frol commented on #42
@TrevorJTClarke We already had such a bounty: https://github.com/near/bounties/issues/11, and there is the implementation. Please, clarify how it is different this time.

The problem I see with such hacky solutions is that we cannot really recommend anyone using it. There should be a complete implementation with tests and I believe, it should be part of near-sdk-rs, which will generate some JSON s

[2021-02-12 13:33] #42 closed

[2021-02-12 17:11] TrevorJTClarke commented on #42
@frol -- thanks, i was unaware of this project.

I think NEAR needs this: https://github.com/luciotato/create-contract-cli/blob/master/src/lib/Parser/Parser.ts
to be exposed in an easy to use manner, as part of the default build scripts for every dapp project, so that anyone can get a contract module available to import without manually managing the interfaces.

[2021-02-13 12:24] ouromoros commented on #8
I'm interested in working on this. My draft smart contract have the following change methods:

*stake*: transfer some amount of NEAR to the protocol account which it will delgate to speicific pool
*evaluate*: evaluate (calculate lottery winner) and update the balance(staked + reward) of all staked users, this function should be called by party of interest in a timely manner, and possibly be reward

[2021-02-13 15:46] luciotato commented on #42
@TrevorJTClarke @frol, It seems he needs a different output: an ES module for easy import into near-api-js

The `create-near-cli` utility creates something similar as an intermediate output but then goes on and generates an entire cli-tool from that. BTW it's directed at developers, *the output is code*, you're supposed to continue from there.

I can do what @TrevorJTClarke asks, and also I can se

[2021-02-13 19:41] TrevorJTClarke commented on #42
@luciotato @frol yes, thats correct -- it would solve UX with FE development.
Just want to comment on this: `it should be part of near-sdk-rs`
I looked into this first, it seems the only route here is adding more macros (syn lib), which makes the developer maintain the output, rather than simply generating from code. This to me seems more hacky than maintaining a parser, as there's already librari

[2021-02-14 17:15] gagdiez commented on #8
With @lunafromthemoon we have created Pool Party! You can see its first version running in the testnet in the following link: https://siasky.net/hns/poolap/.

**How does it work?**
The pool is completely functional. Users can stake, unstake, and withdraw their NEAR, and at most once per day the interest generated is raffled between the participants.
- When the money is staked, we transfer it to an

[2021-02-15 21:48] behaviary commented on #41
@matteopozzadev it's yours! Please @ mention me when it's done with the PR/repo associated.

[2021-02-16 19:17] frol commented on #42
@TrevorJTClarke If there is happen to be an extra layer on top of near-sdk-rs attributes, parsers will just fail, and it will be always a "catch me" game for parsers. Having the implementation right in near-sdk-rs macros, we can evolve and extend the functionality in a fully compatible way. If we properly define the specification, we can solve more problems:

* https://github.com/near/NEPs/pull/3

[2021-02-16 20:04] TrevorJTClarke commented on #42
I see, I agree it would be nice to expose a way to simply view methods directly, as long as the developer is not maintaining the exposed methods via extra macros. If that is close to getting released, it would be worth the wait, otherwise I still think its valuable to make something that bootstraps quickly for the developer to use.

[2021-02-16 21:24] frol commented on #42
@TrevorJTClarke it is anywhere close to release, and I propose instead of wasting our energy with hacks, empower our community to finish the proper solution. Bounties that create yet another project for us to maintain are not helpful, and will most certainly just die due to lack of maintenance :cry:

[2021-02-16 22:35] luciotato opened #43 "Complete redesign of META-Pool's Web App UI - Reward: 2000 USD(NEAR equivalent) + 2000 $META"
# Description
Make it really pretty

## Context
The Meta-Pool Web App UI is a MVP.

Redesign the Web App UI in the style of https://mith.cash or https://yam.finance/

The web app is in beta-test and working, here are the beta-test instructions: https://github.com/Narwallets/meta-pool/blob/master/docs/beta-test.md

# Acceptance Criteria
* [ ] Complete redesign, mockups, final product is CSS & HTML

[2021-02-16 23:03] laladraws commented on #43
Hi, i'm presenting my take on the design for the Web App UI:

![full](https://user-images.githubusercontent.com/79152418/108132588-db7e7a00-7091-11eb-9a88-3cadfaff1077.jpg)

[2021-02-19 15:20] ouromoros commented on #37
I would like to work on this bounty if it's still open 😊

[2021-02-19 22:15] matteopozzadev commented on #43
Hello, this is the preview of what I did for the bounty, let me know if you decide for this 🥇

![NEU-NEAR](https://user-images.githubusercontent.com/45047619/108567217-1a1d6a00-7308-11eb-95dc-e4c3909dbfe7.png)

[2021-02-20 12:37] #36 closed

[2021-02-21 08:41] ilblackdragon commented on #8
Looks great! I think the current state is good to claim the bounty.
How about you add your near account to Github description to facilitate payment?

[2021-02-22 17:33] gagdiez commented on #8
@ilblackdragon Great news! I have updated my profile with my near wallet: gagdiez.near

[2021-02-23 00:37] kcole16 commented on #27
Hey everyone! Closing this for now as it is not currently relevant. Balancer will run on the NEAR EVM, and users will use wallets supporting the EVM and custom networks like MetaMask.

[2021-02-23 00:37] #27 closed

[2021-02-27 08:48] ilblackdragon commented on #8
@gagdiez can link to the source code here and I'll close it.

[2021-03-01 03:58] luizfelipetx commented on #9
@eriktrautman let me understand ,
The objective of this bountie is : Create a Token on Near Ecosystem, use this token with a community on Reddit, in a subreddit, that you can create a game, or some interaction or application with this group, for this people use token and interact with near ecosystem. (using that created token)
Reach 1000 users on Reddit with some engaje sending some tokens to they

[2021-03-01 12:26] satojandro commented on #38
I REALLY like this idea.

As a non-technical founder who has been experimenting with several no-code tools recently I feel that this would be revolutionary.

I just posted this opportunity on the [Bubble forum](https://forum.bubble.io/t/plugin-bounty-near-protocol/138862) where several Plugin Builders hang out.

[2021-03-01 19:24] gabrielKerekes commented on #26
Hi all, I am a member of @memoriesadrift 's team. We've managed to make a working prototype of balancer frontend working on top of NEAR - using the near-web3-provider. The app is deployed at https://vacuumlabs-balancer.herokuapp.com/. Currently it's possible to swap the two tokens (GKC1, GKC2) using 2 hardcoded pools. It's not perfect, but this is almost as far as we can get without further discus

[2021-03-02 18:29] alexauroradev commented on #26
@gabrielKerekes , hi there. Can you please check the seed phrase? I cannot recover the account using it.

[2021-03-02 18:34] gabrielKerekes commented on #26
I think there might be a problem with the betanet wallet at the moment. I haven't been able to recover any of my accounts today. Can you maybe try if you can recover any other account?

[2021-03-02 21:44] gagdiez commented on #8
The source code is in: https://github.com/gagdiez/pool_party

We will work on adding more information to the README.md soon.

We have received the bounty. Thank you @ilblackdragon.

We will get in contact soon with the NEAR community to inform the launch in mainnet.

[2021-03-02 22:28] eriktrautman commented on #9
the bounty is quite out of date by now (and pricing was changed) but the idea is still the same -- launch a NEAR-based community token which gets real, ongoing usage by a subreddit.  So just building a game that a subreddit gets excited by isn't enough. It needs to be a token which is used by the subreddit as part of its regular activities (there are many types of tokens that might be used, from a

[2021-03-02 23:33] luizfelipetx commented on #9
@eriktrautman but still active ?
I am a follow of near protocol, and developer, i already invested in near ICO also.

About the uses of this token, the member priveleges i think is a good idea, but i can do that for another forum , as example bitcointalk.org, that more relevant to crypto world than reddit , no ?

[2021-03-03 08:41] #8 closed

[2021-03-03 22:40] eriktrautman commented on #9
It’s active but ok not applies to Reddit because helping one subreddit
launch a successful token will help many more.

On Wed, Mar 3, 2021 at 12:34 AM Felipe Teixeira <notifications@github.com>
wrote:

--
—
Erik S. Trautman
CEO, NEAR Foundation
https://www.nearprotocol.com

[2021-03-05 15:11] gabrielKerekes commented on #26
As requested via Discord, we have recorded a short demo video of our Balancer working on betanet and localnet. Here's a link to the video on [Google Drive](https://drive.google.com/file/d/1hni54DvT7gRAz7wjZMc-OTQykiDKsZOC/view). In the end we decided not to describe how it works in the video, since that would make the video quite long - it's already longer than expected I think.

We've also writte

[2021-03-05 21:06] rauchp commented on #43
is this still open?

[2021-03-06 12:23] amochuko commented on #43
Greetings; while I noticed the issue still opened; I want to express my interest and probably get a confirmation before I start out.

[2021-03-07 01:34] amochuko commented on #41
Hello there. @eriktrautman If this isn't assigned yet; I would like to work on it. Also @frol the link https://archival-rpc.mainnet.near.org seems to be offline

[2021-03-07 01:35] chefsale commented on #41
@iamochuko The node is online, just use the status endpoint instead to check: https://archival-rpc.mainnet.near.org/status

[2021-03-07 01:40] amochuko commented on #41
@chefsale thanks.

[2021-03-07 21:56] eriktrautman commented on #41
I have not yet seen a submission from anyone so dive in!

On Sun, Mar 7, 2021 at 2:34 AM awhe ochuko <notifications@github.com> wrote:

--
—
Erik S. Trautman
CEO, NEAR Foundation
https://www.nearprotocol.com

[2021-03-08 07:07] amochuko commented on #41
Alright. I'll do so.

[2021-03-08 17:14] inventionarts commented on #38
Is it possible perhaps that all or a significant portion of the requirements can be accomplished via Near API using the Bubble API connector? Noting this: " Embed basic NEAR account requests into bubble using near-api-js"? Thanks! Also quite interested in this. Believe an important initiative.

[2021-03-08 17:22] crasskitty commented on #38
More than likely, yes :D

[2021-03-08 20:21] inventionarts commented on #38
Thanks! Will dig deeper.

[2021-03-08 20:37] kcole16 commented on #43
Thanks everyone! This bounty is being fulfilled, and is now closed

[2021-03-08 20:37] #43 closed

[2021-03-10 02:47] dzuqe commented on #39
App Idea: A template for creative dapps that require a registry for 3D based content

- React, Ceramic and Near rust contract
- Babylonjs for rendering the models on canvas
- the template aims to be minimal and for creative coders who are interested in fluid syntax and a humorous lexer.

The template integrates the following tech:
- Arweave to store 3D models and texture files
- Ceramic to create

[2021-03-10 14:00] ilblackdragon opened #44 "Ref Finance AMM UI | Bounty $TBD"
# Description
User interface for AMM in Ref Finance

## Context

Contracts: https://github.com/ref-finance/ref-contracts

Specifically, ref-exchange is AMM contract.

TODO: functioning version on testnet

Important note, the method in near-api-js to sign transactions with Wallet supports a list of transactions which can be going to different receivers. This allows to batch in one round trip to the

[2021-03-10 17:03] rauchp commented on #44
Taking a look at this now! Will circle back with any questions once I've taken a good look.

[2021-03-11 17:35] lau-bin commented on #44
Hello, i want to do this bounty.
Im fullstack with rust and react, this is one of the frontends i already made for NEAR:
https://www.narwallets.com/dapp/testnet/usdnear/
https://devfolio.co/submissions/usdn-b42e
For an mvp i estimate 2 weeks.

[2021-03-11 17:43] satojandro commented on #38
Probably! You may want to check out [Datahub](datahub.figment.io): it allows you to connect to a Near node so you can run the API (I'm just learning the basics of it now too)

https://learn.figment.io/network-documentation/near/tutorials/intro-pathway-write-and-deploy-your-first-near-smart-contract/1.-connecting-to-a-near-node-using-datahub

[2021-03-11 20:13] rauchp commented on #44
Got started on this last night + started some wiring. I need to look more into the contracts and the whole scope of the project before providing a more precise proposal. Hoping to write that out tomorrow. As of now I see an MVP possible in 10 days, but need to doublecheck and scope it out a bit more.

<img width="850" alt="ref screenshot" src="https://user-images.githubusercontent.com/22400533/110

[2021-03-11 22:16] JPiao commented on #44
@rauchp damn, just that is looking pretty slick 👀 looks like you got it down. Looking forward to the final product

[2021-03-13 01:14] aidai524 commented on #44
Hi @ilblackdragon , I review your contracts code yesterday, there can do sushi like dapp, I list the details for todo list:

[2021-03-13 02:21] aidai524 commented on #44
Hi @ilblackdragon, please let me know if the opportunity is still open.
I reviewed your contracts code yesterday,  believe that I deliver do SUSHI like frontend part dapp in aggregate of 11days

here is an outline of the todo lists and time required for each item.

1. UI Works: 2D

2. Portfolio page and wallet connect: 2D
    * Sign in with NEAR
    * Assets State View
    * Deposit & Withdraw fun

[2021-03-14 06:29] ilblackdragon commented on #44
Thanks for starting @rauchp, looks good.

@aidai524, @JPiao, @lau-bau thanks for the interest.

If you all join this TG channel - we can all discuss in more realtime how to collaborate on this and discuss the smart contract: https://t.me/ref_finance

[2021-03-14 18:02] benjamingreenberg commented on #15
If I am understanding correctly, then I'm not sure if what you are asking for is possible.

coinbase.com's certificate is used to verify that the server the client is communicating with is really coinbase.com, but it is not used to encrypt the content of the page. The content is encrypted using a symmetric encryption method, and a shared key. During the initial stages of communication, the server

[2021-03-16 01:55] tahpot commented on #39
@mattlockyer Do you have any thoughts on how to handle this problem due to NEAR having multiple different access keys?

On a related note, I have previously used Ethereum signatures to deterministically generate entropy for an encryption key to store data off-chain. Again, due to multiple access keys I can't see a way to do this with NEAR, but would appreciate if you have any thoughts?

[2021-03-16 03:32] ilblackdragon commented on #15
Hi Benjamin,

You are correct, I didn't realize that symmetric encryption has been used
after certificate handshake was established.

Just to check, what about next logic:
 - Submit the certificate to the smart contract
 - It generates a pre-master key just by sourcing a random number from the
chain.
 - It's visible to everyone, and anyone can actually submit it to the
server. Servers respond with

[2021-03-16 06:33] benjamingreenberg commented on #15
I think there are still some issues.

The server does not send the master/session key back to the client. The server and client each use the pre-master key to generate the session key independently.

Another issue is that by making the pre-master key visible to everyone, you introduce the possibility of a man-in-the-middle attack;
1. Attacker gets pre-master key, uses it to generate the session ke

[2021-03-16 10:55] ilblackdragon commented on #15
The goal was to provide smart contracts on-chain some data and these
contracts can trust that it was indeed generated by the declared source
(e.g. coinbase.com).

Currently even if one wants prices from coinbase.com - they still need to
either trust some subset of other parties that they will provide correct
information from this website to the on-chain smart contract.

On Mon, Mar 15, 2021 at 11:

[2021-03-16 10:57] ilblackdragon commented on #15
Pretty much the alternative to this, is to be called "off-chain workers" -
something that runs on every validator, queries data from off-chain and
puts it on-chain.
The problem with this approach is that if this data doesn't agree (because
for example they didn't query at exact same time) - now you need to do
conflict resolution. Either way it becomes more and more complicated for a
smart contract

[2021-03-17 02:23] ALuhning commented on #39
Well, finally finished off my take on NEAR/Ceramic integration.  Currently setup to run on Testnet - but think this one I'll actually move to MainNet.

### High Level Overview:
Using Near-Names as a foundation, extended/revised it to allow someone with a NEAR account to create NEAR personas under that account.  Each new account created is registered on a NEAR contract (dids.vitalpointai.testnet) a

[2021-03-17 10:52] ilblackdragon commented on #41
@iamochuko can you provide a timeline on your side?

[2021-03-17 14:37] amochuko commented on #41
@ilblackdragon In 48 hrs I'll make a pull request. While I think the api as specified in the docs was well simplified; I had a some challenges on collating the the required info. Though, as of now; I've a hold of it.

[2021-03-17 15:31] mikedotexe commented on #26
Thanks @gabrielKerekes , we're going over a much improved bounties workflow right now. Thank you so much for making this video and your patience, we'll be getting back soon.

[2021-03-18 00:22] benjamingreenberg commented on #15
I'm brand new to blockchains, smart contracts, etc, so I am not sure if something like this is possible, and if it is possible, if it can be done using one smart-contract or you would need multiple smart-contracts for the different tasks.

1. Rust app (App) initiates an https connection to coinbase.com like it was a regular browser (including list of encryption protocols)
2. coinbase.com responds

[2021-03-19 12:24] amochuko commented on #41
@ilblackdragon Hello; while I am not able to get the specifics to work together at the moment, I want to meet up with the 48hrs I set off two days back. Kindly find a link to the repo at https://github.com/iamochuko/near-staking-rewards-tax-tracker

Am hoping if someone could find it useful; then he/she can continue to develop on it. Meanwhile; I would do the same at my timing (as a personal task,

[2021-03-22 14:12] frol commented on #41
I have learned that https://near-staking.com has received the functionality we describe in this bounty. You just enter the account id on the main page, and then click "View Account", and you will get to a page like this (took a random account that delegates tokens): https://near-staking.com/user/fcff408e50466e10d3c5eed46b9edcd1f3fff9a2594530c68eba4d1a14efd629

![image](https://user-images.githubus

[2021-03-23 22:59] eriktrautman commented on #41
@frol that's a good start but doesn't fulfill all the acceptance criteria. If you know who's running the site, you can definitely refer them to the bounty and if they handle unstaking more gracefully (I see negative numbers...), are open source, and have some basic aggregations over month and annual periods they can claim it.

[2021-03-24 17:52] AngelBlock commented on #41
We have releases a version with staking reward calculations, it is still under testing, but can be viewed here https://near-staking.com/user/your_account.near

The servers side is an open source and on GH https://github.com/DenysOf/near-staking/, we push the changes once it is QA-tested, but UI is a licensed component, and can't be pushed freely. We have it in the roadmap to remove licensed compon

[2021-03-24 20:11] cameron-NEAR commented on #5
Is this bounty completed? If so, can I close it?@mikedotexe @ilblackdragon

[2021-03-24 20:13] cameron-NEAR commented on #6
Is this bounty completed and paid? If so, can I close it? @ilblackdragon @robert-zaremba

I'm asking this to identify which bounties are currently active and need to be completed.

[2021-03-24 20:15] robert-zaremba commented on #6
Yes. https://siasky.net/AADIHaZZz73figEETkQizv2V7CB7vDh1Jn1Z3STTQsrsUA/

The work continues on a new design and ref-finance.

[2021-03-24 21:56] #6 closed

[2021-03-24 21:59] cameron-NEAR commented on #12
Is this bounty completed and paid? If so, can I close it? @ilblackdragon

I'm asking this to identify which bounties are currently active so I can find people to complete them.

[2021-03-25 06:11] #26 closed

[2021-03-25 21:56] eriktrautman commented on #41
Great, just drop in here when you have the aggregations finished and we'll
close it out.  Those are important so people can easily select eg. 2020 tax
year and just receive the correct information about the volume-weighted
average pricing they received so they can pay their taxes properly.

On Wed, Mar 24, 2021 at 6:53 PM AngelBlock ***@***.***> wrote:

[2021-03-28 07:55] ilblackdragon commented on #5
Yes, it's completed.

[2021-03-28 07:55] #5 closed

[2021-03-28 08:00] ilblackdragon commented on #12
@djuanit0x I actually don't remember what's the status here, can you please remind?

[2021-03-29 02:10] cameron-NEAR commented on #13
Hey @ilblackdragon, this bounty looks completed but I want to double check before closing it. Has it been paid? If so, can I close it?

@crosschainlabs

[2021-03-29 02:13] cameron-NEAR commented on #28
Hey @potatodepaulo, this bounty seems to be old. Can I close it?

[2021-03-29 02:25] cameron-NEAR commented on #9
@eriktrautman - Do you have an updated price for this bounty? I'm asking so I can find the right person / people to complete it.

@luizfelipetx, are you still interested in completing it?

[2021-03-29 02:40] luizfelipetx commented on #9
@cameron-NEAR Yes man!!!

Im already working on!!   :)

[2021-03-29 02:56] cameron-NEAR commented on #9
Amazing to hear! Don't hesitate to reach out if you have any questions :)

[2021-03-29 03:13] cameron-NEAR commented on #30
Hi @defiboy, how is the completion of this bounty going? I'm happy to find someone to complete it if you are no longer interested.

[2021-03-29 03:15] cameron-NEAR commented on #29
Has this bounty been finalized and paid? @ilblackdragon @vince0656
It seems so, I just want to double check before closing it.

[2021-03-29 03:17] cameron-NEAR commented on #31
Hi @pczarn, how is the completion of this bounty going? I'm here to help if you have any questions.

[2021-03-29 03:18] cameron-NEAR commented on #33
Hi @nearmax, what is the status of this bounty? I'm happy to help find someone to complete it if it's still open.

[2021-03-29 03:21] cameron-NEAR commented on #37
Hi @potatodepaulo, is this bounty still open? If so, @ouromoros seems interested in completing it :)

[2021-03-29 03:22] cameron-NEAR commented on #38
Hi @crasskitty, is this bounty still open? If so, I'm happy to find someone to complete it.

[2021-03-29 03:31] crasskitty commented on #38
It is!

On Sun, Mar 28, 2021 at 8:23 PM Cameron Dennis ***@***.***>
wrote:

--
*Ash Crawford*
Program Manager @ NEAR

[image: Twitter] <https://twitter.com/crasskitty> [image: LinkedIn
(Personal)] <https://linkedin.com/in/ashkford> [image: YouTube]
<https://youtube.com/channel/UCuKdIYVN8iE3fv8alyk1aMw> [image: Discord]
<https://discord.com/channels/54RRYkkK7d> [image: Telegram]
<https://t.me/crass

[2021-03-29 03:47] cameron-NEAR commented on #40
Hey @jlwaugh, can I close this?

[2021-03-29 05:00] ilblackdragon opened #45 "New frontend for BerryClub | $4000 in $NEAR x 3"
# Description

Design and implement an appealing frontend for BerryClub ecosystem.
The goal is to make it attractive to non crypto, art-minded people who might be interested to explore.

## Context

BerryClub is a a novel way to co-create art on a limited space using token economics to balance incentives:
 - https://berryclub.io
 - https://farm.berryclub.io/
 - https://berry.cards/

# Acceptance C

[2021-03-29 05:38] djuanit0x commented on #12
If I remember correctly, I think I have fulfilled the acceptance requirements. I'm waiting for the review and feedback.

[2021-03-29 07:33] zahhar commented on #37
@potatodepaulo - this bounty was taken some time ago, and now PR is waiting to be merged: https://github.com/nearprotocol/corgis/pull/16

[2021-03-29 10:46] pczarn commented on #31
Hi @cameron-NEAR I'm almost done and will submit for second review soon. The progress on this one is most likely 99% beause one test is failing (`sync::test::test_slow_header_sync`), and the rest is done.

[2021-03-29 10:50] pczarn commented on #31
This is a question best directed to @SkidanovAlex but you may take a look :)

@SkidanovAlex :

How can I reproduce the problem with Popen?

I noticed that proxy-related tests such as sanity/proxy_{simple,example} are failing. After some digging, I found that the mentioned change is the cause (https://github.com/near/nearcore/pull/3302). It appears that proxies do not spin up fast enough to accept

[2021-03-29 11:28] Kisgus opened #46 "Request.Network - integration to pay invoices with NEAR Wallet"
# Description

Enable to approve and pay  request.network invoices denominated in NEAR via the [NEAR wallet](https://wallet.near.org/).

## Context

Request is an invoicing and payment protocol originally built on Ethereum. All invoices and their lifecycle statuses (creation, approval, payment, cancellation, etc.) are recorded on the blockchain. The crypto invoicing solution; [Request Invoicing](h

[2021-03-29 11:34] Kisgus opened #47 "[BUG BOUNTY] NEAR Lockup Factory Contract"
# Description

Open bug bounty to discover exploits in the NEAR Lockup Factory Contract

## Context

The intended purpose of the NEAR lockup factory contract is to enable the deployment of locked NEAR that comes with a cliff and/or vesting schedule. The [lockup factory contract](https://github.com/near/core-contracts/tree/master/lockup-factory) and [UI](https://lastblock-limited.github.io/near-loc

[2021-03-30 00:19] mrrobot16 commented on #45
Hello world! Do we have any info about how the new frontend is expected to look like o maybe look a like? @ilblackdragon

[2021-03-30 00:35] hackphobic commented on #46
I can finish finish this soon.
In what format do you need the queried events?

[2021-03-30 04:39] peterfeng1984 commented on #45
My team can do it. I wonder if you are satisfied with this design? Looking forward to  reply @ilblackdragon, I will finish it as soon as possible
![image](https://user-images.githubusercontent.com/79548864/112934638-c860ce80-9154-11eb-9d76-d4a1ec855c7e.png)
![image](https://user-images.githubusercontent.com/79548864/112934656-ceef4600-9154-11eb-8a6c-fcd05f2eec28.png)
![image](https://user-images.g

[2021-03-30 11:19] JonaFly commented on #45
Dear Illia,

We have checked the links and info. since we are Front-end developer and very interested in BerryClub.
We wanna finish it and contribute on it.

[2021-03-30 14:30] yomarion commented on #46
@hackphobic We need the transactions and their logs to infer the concerned requestIds

[2021-03-30 21:54] cameron-NEAR opened #48 "NEAR Discord Payment Bot"
# Description
[Allows users to send any NEAR asset, beginning with the native token, to another user over Discord.]

## Context
[Discord currently has over 140 million monthly active users. A multi-chain web wallet combined with the Discord bot allows users to send assets to any Discord user regardless of whether the receiving user has an account or not. The Discord bot could also allow organizati

[2021-03-30 21:54] cameron-NEAR opened #49 "Permissioned API for New User Onboarding"
# Description
Permissioned API for automating users sending assets to not-yet-existent NEAR accounts.

## Context
Deterministically associate a Discord user with a public key so one can send and receive NEAR without needing a NEAR account until they create a NEAR Name.

# Acceptance Criteria
* [ ] Allow users to send assets to not-yet-existent NEAR accounts
* [ ]  Deterministically associate a dis

[2021-03-30 21:54] cameron-NEAR opened #50 "Multi-Chain UI Web Wallet"
# Description
Easy to use, multi-chain web wallet that a user can sign into using OAuth providers and be extendable with application-specific UI’s for assets.

## Context
As more DAOs are created and more organizations incorporate crypto into their community that contains non-crypto-native individuals, the “list of assets” UI that we typically see in most wallets will not be good enough UX. For in

[2021-03-30 21:59] Sladuca commented on #48
Hey Cameron! My friend @Lev-Stambler and I would like to take on this bounty.

[2021-03-30 22:00] Sladuca commented on #49
Hey Cameron! My friend @Lev-Stambler and I would like to take on this bounty.

[2021-03-30 22:00] Sladuca commented on #50
Hey Cameron! My friend @Lev-Stambler and I would like to take on this bounty.

[2021-03-30 22:01] cameron-NEAR commented on #48
Great! I just assigned it to you and will follow up in two weeks for an update.

[2021-03-30 22:01] cameron-NEAR commented on #49
Great! I just assigned it to you and will follow up in two weeks for an update.

[2021-03-30 22:01] cameron-NEAR commented on #50
Great! I just assigned it to you and will follow up in two weeks for an update.

[2021-03-30 22:03] Lev-Stambler commented on #50
I would love to take it up!

[2021-03-30 22:03] Lev-Stambler commented on #48
I would love to take this up as well!

[2021-03-30 22:04] Lev-Stambler commented on #49
I would love to take this up!

[2021-03-31 06:47] ilblackdragon commented on #45
Hi folks,

Sorry for changing rules.

I think let's split this bounty into stages to design first and implement second:
 - Post who will work on mocks first (e.g designers) and how long it will take. Post your previous portfolio.
 - I'll approve you for design.
 - Post here mocks after you completed design. If you are approved - you will get paid a portion of the reward either way. If there is alr

[2021-03-31 07:05] LegalOPC commented on #45
how about Buidl a V2 of Berry club based on V1 ?
1,UI
2,token economy

just like uniswap v1 to uniswap V2

[2021-03-31 07:36] 15060322123 commented on #45
I use the design

[2021-03-31 07:36] 15060322123 commented on #45
I use the design
1 UI

[2021-03-31 07:45] 0xhn commented on #45
I am using this website and I know what it needs.  I use the design
1. UI
2. two weeks

![30501025ef425a50261c3d18c7648909](https://user-images.githubusercontent.com/31805829/113108910-113d8380-9238-11eb-9fce-8730c36eea98.png)
![arm09-adgoi](https://user-images.githubusercontent.com/31805829/113108926-14d10a80-9238-11eb-8d73-60fe692a4441.jpg)

[2021-03-31 17:03] pczarn commented on #31
Please review my code. I already reviewed it to spot obvious mistakes.

The proxy startup problem is yet to be resolved or investigated

[2021-03-31 18:01] #28 closed

[2021-03-31 18:02] #37 closed

[2021-03-31 18:05] #40 closed

[2021-04-01 03:41] ilblackdragon commented on #45
Approve for mock up @15060322123: Looks like an interesting concept. Please start by doing mock ups for Berry Club.

Approve for mock up @peterfeng1984: I'm not sure, the designs you shown are not super exciting for social gaming type of application. But feel free to post some mock ups of Berry Club itself in your concept.

[2021-04-01 03:41] ilblackdragon commented on #45
@wjy7551376, @mrrobot16 can you post the concepts you are thinking / your portfolio and timeline for mockups first?

[2021-04-01 03:42] ilblackdragon commented on #45
@ethyuan I think for v2 of the BerryClub itself this can be separate discussion from frontend.

Do you have something specific in mind?

[2021-04-01 12:01] DenysOf commented on #41
The server side code is pushed to the GitHub, https://github.com/DenysOf/near-staking, which includes code to cache indexer data to the local mongo DB, rewards validator matching, etc.

[2021-04-02 00:07] ilblackdragon commented on #44
Closing, bounty is finished at this point.

[2021-04-02 00:07] #44 closed

[2021-04-02 16:50] cameron-NEAR commented on #41
Hey @eriktrautman, is this bounty completed? If so, who needs to be paid?

[2021-04-02 17:04] #39 closed

[2021-04-02 17:38] SkidanovAlex commented on #31
@pczarn I will not be able to review today, but will be sure to allocate time next week.
Do proxy tests also fail on your machine before your change, or only after?

[2021-04-03 02:42] eriktrautman commented on #41
I'm not seeing the aggregations (eg for selecting "2020" and providing
sensible averages+sums) in the UI. Am I missing something?

On Fri, Apr 2, 2021 at 12:50 PM Cameron Dennis ***@***.***>
wrote:

[2021-04-03 07:55] pczarn commented on #31
@SkidanovAlex Ok thanks.

The tests fail only before my change to `cluster.py`. Never after. Tried this on my machine only.

[2021-04-05 10:22] Kisgus commented on #46
Great @hackphobic do you have any estimate on when you will be able to start / finalize the implementation?

[2021-04-05 12:04] hackphobic commented on #46
@Kisgus it should be ready within two days, I only have the testing part left but I also wanna improve some parts too.

[2021-04-06 09:18] 0xhn commented on #45
@ilblackdragon Thanks，This is the template style that we designed
![UGS9G}(8@_U4}OXLO6 V35X](https://user-images.githubusercontent.com/31805829/113688547-fb2e3800-96fb-11eb-952a-30e9eefed895.jpg)

[2021-04-07 09:38] Kisgus commented on #46
Great news @hackphobic, thanks, we look forward to start testing it!

[2021-04-07 11:45] nikbhintade commented on #48
@cameron-NEAR, I have a dumb question but how this bot is gonna transfer NEAR? from the wallet in a browser or some custodial wallet on the discord bot server?

[2021-04-08 13:06] ilblackdragon commented on #45
@15060322123 may be can you start with Berryclub itself?
For berry cards - what is the numbers on the right of the picture?

[2021-04-08 15:48] Sladuca commented on #48
to avoid custody it will generate & PM link to approve tx in browser

[2021-04-08 16:09] ilblackdragon commented on #45
@wjy7551376, @mrrobot16 do you guys want to post some mocks you have in mind?

[2021-04-08 16:38] nikbhintade commented on #48
@Sladuca okay.

[2021-04-08 21:36] cameron-NEAR commented on #41
Hi @AngelBlock or @DenysOf, can you point @eriktrautman to the aggregations in the UI? It would be great to get you paid once everything checks out!

[2021-04-09 05:34] cameron-NEAR commented on #29
Hey, has this bounty been completed? I'm happy to help find a team to complete it if not. @ilblackdragon

[2021-04-09 08:31] DenysOf commented on #41
@cameron-NEAR @eriktrautman
Hi guys, The current UI we use on the website will not allow for any data manipulation (its basically a datatable), I'm working on the workaround to provide the aggregations as a separate table, but currently held up by other projects. It will take a couple of weeks.

Meanwhile, CSV export is available and its very easy for user to do any aggregations on excel, until I

[2021-04-09 11:12] ilblackdragon commented on #13
Yep, it's complete in the current form.

[2021-04-09 11:12] #13 closed

[2021-04-12 11:42] think-in-universe opened #51 "Guided Staking Workflow on NEAR Web Wallet"
# Description

Guide a new user through the Staking UI workflow after a new account is created on NEAR Web Wallet.

## Context

To help a new user understand how [NEAR](https://near.org/technology/) work as a Proof of Stake blockchain, it’s important to guide the user through the staking process via tooltip, and let the user practice how to stake via NEAR web wallet UI, once upon a new account is

[2021-04-13 02:36] hackphobic commented on #46
@Kisgus sorry for the delay but this PR needs to be included before it's possible to query and blocks and txs for the contract events
https://github.com/near/near-api-js/pull/534

[2021-04-15 02:15] 0xhn commented on #45
@ilblackdragon Yeah , you can check this
![微信图片_202104151012003](https://user-images.githubusercontent.com/31805829/114804209-85992a80-9dd3-11eb-8848-a1d4d74749a3.jpg)
![微信图片_20210415101200](https://user-images.githubusercontent.com/31805829/114804213-8762ee00-9dd3-11eb-8352-87d652ea727a.jpg)
![微信图片_202104151012001](https://user-images.githubusercontent.com/31805829/114804215-87fb8480-9dd3-11eb-97

[2021-04-15 14:45] Kisgus commented on #46
Hey @hackphobic thanks for letting me now, is the merge 12 hours ago sufficient?

[2021-04-15 16:41] cameron-NEAR commented on #15
Hey @ilblackdragon, did you get a chance to read @benjamingreenberg's approach to completing the bounty? If it makes sense, i'm happy to assign the bounty to them.

@benjamingreenberg - are you still interested in completing this bounty?

[2021-04-15 20:02] cameron-NEAR commented on #12
Hi @djuanit0x! Your submission has been approved! Please complete this form so we can pay you ASAP :) -

https://docs.google.com/forms/d/e/1FAIpQLSe2zE_tOocACxBZwNgHUVEfwBmxA6Enas4uVlFoV0nCgsXQGQ/viewform

[2021-04-15 21:16] abacabadabacaba commented on #15
@cameron-NEAR This approach won't work, because there is no way a smart contract can store or work with secret data. In general, AFAIK there is currently no feasible way to verifiably get a HTTPS page from a smart contract (unless the server supports SXG, which is a tiny minority of the servers). For this reason, I think that this bounty is misguided.

[2021-04-16 08:05] 0xhn commented on #45
@ilblackdragon  The background color scheme can be adjusted
![dfbfecba923d094ed408c7eb4cc0e88](https://user-images.githubusercontent.com/31805829/114992641-8f9f5400-9ecd-11eb-8533-9516d738ddd6.jpg)

[2021-04-25 17:53] Kisgus commented on #46
Whats your eta now @hackphobic ? Any blockers?

[2021-04-26 04:34] hackphobic commented on #46
@Kisgus yes actually I ran into a couple more issues in Near-api-js and they're fixed now. I believe I have all the working parts, it's a matter of putting them together in the Request package architecture.

I'm currently trying to add the NEAR fungible token standard.
also, blocks are garbage collected by nodes after 5 epochs. which means we can't query blocks older than about 2.5 days and I don'

[2021-04-26 10:46] Kisgus commented on #46
I see thanks for elaborating. Yes we do have an indexer @hackphobic, please send me your Telegram handle, publicly here or to gustav@near.org and I will provide you a start guide for that

[2021-04-28 09:59] pczarn commented on #31
@SkidanovAlex please allocate some time for a review

[2021-05-05 22:47] cameron-NEAR opened #52 "MultiSafe V1 - $15,000 in NEAR"
# Description
Continue the development and launch Multisafe, a multi-signature web application, to NEAR mainnet.

## Context
Multisafe is a multi-signature NEAR webapp that enables multiple parties to confirm a transaction before it can be executed. It is currently on testnet and we are looking for someone to connect Ledger to Multisafe so users can create, approve, and decline transaction request

[2021-05-06 01:47] inventionarts commented on #38
Curious if anyone is working on this. Playing around with the API connector and NEAR API but if someone's making progress on it, would gladly defer to and support that effort.

[2021-05-06 11:14] jilt commented on #45
Hi I would like to setup a bounty on this on the createbase hackathon, for building a VR interface using berryclub dynamics, would you be interested to contribute to the bounty?

[2021-05-06 11:15] jilt commented on #45
I sent a DM to illia on the near forum with the details

[2021-05-07 21:27] Lev-Stambler commented on #49
We are ready to have our work reviewed! Find the [test site](https://baf-wallet-v2.vercel.app/) and [code base](https://github.com/bafnetwork/baf-wallet-v2)

[2021-05-07 21:28] Lev-Stambler commented on #50
We are ready to have our work reviewed! Find the [test site](https://baf-wallet-v2.vercel.app/) and [code base](https://github.com/bafnetwork/baf-wallet-v2)

[2021-05-12 20:18] #12 closed

[2021-05-12 20:40] cameron-NEAR commented on #41
Hey @DenysOf, it's great to hear that CSV export is available! How is everything else coming together?

Let me know if you're running into any problems and I'll do what I can to unblock them!

[2021-05-12 20:44] DenysOf commented on #41
Hey @cameron-NEAR. We have a complete UI revamp scheduled to start by the end of May (that also make near-staking an open source), which allows to customise the data table and implement the aggregations. Should be completed by mid June.

[2021-05-12 20:48] starpause commented on #29
Based on chat we should focus on ERC-1155 & [NEP-171](https://github.com/near/NEPs/blob/master/specs/Standards/NonFungibleToken/Core.md). Still open and we have the [#CreatorsAndCommunities Hackathon](https://createbase.community/hackathon/) kicking off May 15 (Fri)!

[2021-05-12 20:52] cameron-NEAR commented on #41
Amazing! Thanks for the update. I'm looking forward to using it!

On Wed, May 12, 2021 at 4:44 PM Denys ***@***.***> wrote:

[2021-05-13 20:20] Lev-Stambler commented on #48
We are ready to have our work reviewed! The bot can be seen in action on the BAF discord in combination with the [test site](https://baf-wallet-v2.vercel.app/)

[2021-05-14 02:08] duythien0912 commented on #51
Hi, @think-in-universe I can do it can you assign it to me 🙌

[2021-05-14 14:33] cameron-NEAR commented on #51
Hey @duythien0912, it's assigned and you seem like a great fit!

Do you have an idea of when the bounty will be completed?

[2021-05-14 17:36] think-in-universe commented on #51
@duythien0912  nice, thanks for your interest!

Here is some update for this bounty.

Based on our recent review, we may want to hold on adding the tooltip into wallet directly as mentioned in this bounty.

Instead, we plan to convert this bounty into a standalone staking app similar to this one https://staking.dokia.cloud/staking/near/validators, but with UI that also educates users why and how t

[2021-05-15 13:19] jlwaugh opened #53 "Createbase Hackathon: NxM Bounty DAO"
# Createbase Hackathon: NxM Bounty DAO (NEAR x Music)

## Description
The [NxM SputnikDAO](https://www.sputnik.fund/dao/nxm-dao.sputnikdao.near/proposals) has been created in order to support the NxM community as it proliferates throughout the NEAR ecosystem. Over the course of the hackathon, May 14 to June 6, community members will be invited to submit “payout proposals” to this DAO. These payout

[2021-05-15 13:23] jlwaugh opened #54 "Createbase Hackathon: VR DAO"
# Createbase Hackathon: VR DAO

## Description
The [VR SputnikDAO](https://www.sputnik.fund/dao/vr-dao.sputnikdao.near/proposals) has been created in order to support the VR community as it proliferates throughout the NEAR ecosystem. Over the course of the hackathon, May 14 to June 6, community members will be invited to submit “payout proposals” to this DAO. These payout proposals, if approved, w

[2021-05-15 13:28] jlwaugh opened #55 "Createbase Hackathon: Generative Art DAO"
# Createbase Hackathon: Generative Art DAO

## Description
The [Generative Art SputnikDAO](https://www.sputnik.fund/dao/generative-art.sputnikdao.near/proposals) has been created in order to support the generative art community as it proliferates throughout the NEAR ecosystem. Over the course of the hackathon, May 14 to June 6, community members will be invited to submit “payout proposals” to this

[2021-05-15 13:32] jlwaugh opened #56 "Createbase Hackathon: NFT Gaming DAO"
# Createbase Hackathon: NFT Gaming DAO

## Description
The [NFT Gaming SputnikDAO](https://www.sputnik.fund/dao/nft-gaming.sputnikdao.near/proposals) has been created in order to support the NFT Gaming community as it proliferates throughout the NEAR ecosystem. Over the course of the hackathon, May 14 to June 6, community members will be invited to submit “payout proposals” to this DAO. These payo

[2021-05-15 13:36] jlwaugh opened #57 "Social Tokens Bounty DAO"
# Createbase Hackathon: Social Tokens Bounty DAO

## Description
The [Social Tokens SputnikDAO](https://www.sputnik.fund/dao/social-tokens.sputnikdao.near/proposals) has been created in order to support the social tokens community as it proliferates throughout the NEAR ecosystem. Over the course of the hackathon, May 14 to June 6, community members will be invited to submit “payout proposals” to t

[2021-05-15 13:40] jlwaugh opened #58 "Createbase Hackathon: NFT Onboarding DAO"
# Createbase Hackathon: NFT Onboarding DAO

## Description
The [NFT Onboarding DAO](https://www.sputnik.fund/dao/nft-onboarding.sputnikdao.near/proposals) has been created in order to support the NFT community as it proliferates throughout the NEAR ecosystem. Over the course of the hackathon, May 14 to June 6, community members will be invited to submit “payout proposals” to this DAO. These payout

[2021-05-17 15:03] nikbhintade commented on #52
Hi @cameron-NEAR, is this a UI bounty or smart contract? Because you have labeled it as `rust` but in criteria, there isn't any rust requirement.

[2021-05-17 21:29] cameron-NEAR commented on #31
Hey @pczarn, @SkidanovAlex reviewed your bounty submission and said it looks great!! Can you message me on Telegram at @camerondennis to complete the payment?

[2021-05-18 22:53] zavodil commented on #48
How to find the source code?

Got stuck on "Beep bop beep boop, creating your account"

[2021-05-19 16:46] Sladuca commented on #48
Our repo is here: https://github.com/bafnetwork/baf-wallet-v2
the API code is in `apps/api` - we'll have to check what's happening

[2021-05-19 17:17] nikbhintade commented on #52
@cameron-NEAR do you have deadline for this bounty?
Becuase I think I can do it but buying new ledger device takes 3 weeks to arrive that's why I am asking

[2021-05-19 17:46] cameron-NEAR commented on #52
Hi @nikbhintade! This is a UI bounty and we would like it completed ASAP. I'm happy to assign it to you if you can get started on it before the ledger arrives. Otherwise, we can wait until it does

[2021-05-19 18:17] nikbhintade commented on #52
@cameron-NEAR If you can assign me to this task that will be nice I can start working on other tasks like dashboard and mulitsafe list till my ledger device comes.

[2021-05-19 18:28] cameron-NEAR commented on #52
Great! I just assigned you and will follow up in a couple weeks to discuss your progress :)

[2021-05-19 18:43] cameron-NEAR commented on #38
Hey @inventionarts, nobody is working on this right now and I'm happy to assign it to you if you're willing/able to complete it!

[2021-05-19 22:49] inventionarts commented on #38
Hi, Cameron. In fact, this is something I would like to puzzle out. I’m adept at NoCode and Bubble dev, and studying the docs and Zavodil’s near rest API server.

I’m not a node dev so digging into that to understand how I can get the api accessible. I have been able to address a local instance of the api from Bubble API connector, and I know this can be accomplished. Would probably need some advi

[2021-05-27 19:55] cameron-NEAR commented on #38
Hey @inventionarts, this is the listing for the bounty and you can always ask for advice via our Discord - https://discord.gg/JW3W7a4MfA

Let me know if you want to take on the bounty and i'll touch base with you in a couple weeks to discuss your progress. If so, can you message me on Discord at CameronD#7264?

[2021-05-27 20:00] inventionarts commented on #38
Thanks, Cameron.

I don’t see the link to the bounty, only to the Discord. Can you please resend?

Will come back and let you know if I can commit, and appreciate the followup!

Ron

[2021-06-10 21:56] Lev-Stambler commented on #50
Hi, just bumping this issue as we have not heard a response on the bounty.

[2021-06-10 21:57] Lev-Stambler commented on #49
Hi, just also bumping this issue as we have not heard a response on the bounty.

[2021-06-10 21:57] Lev-Stambler commented on #48
Hi, just also bumping this issue as we have not heard a response on the bounty.

[2021-06-11 17:12] eclipseeer commented on #52
@cameron-NEAR Hi, is this task in progress, or can I take it?

[2021-06-11 17:25] cameron-NEAR commented on #52
Hey @eclipseeer! This is not assigned yet. Do you have an idea of when you will be able to complete it by?

[2021-06-11 18:21] eclipseeer commented on #52
@cameron-NEAR Do you like to discuss details in the Telegram?

[2021-06-14 16:39] zavodil commented on #49
Could you provide a tutorial how to:
[code]

Provided UI doesn't allow to perform this in intuitive way.

---

Could you provide a link to the codebase where you perform the bounty's objective: `Permissioned API + Contract to Automates New User Onboarding `. How to find API endpoints? You provided the link to the whole wallet, it's difficult to reuse it and for instance redeploy it in the NEAR mai

[2021-06-14 16:42] zavodil commented on #50
Please provide more information and describe how did you achieve Acceptance Criteria. Test site and code base are not intuitive as I mentioned in #49

[2021-06-14 16:47] zavodil commented on #48
Where can I play with the discord payment bot? You fixed an issue I mentioned [earlier ](https://github.com/near/bounties/issues/48#issuecomment-843619025) but I can't find any details how to send payments through the Discord using Baf wallet

[2021-06-18 12:56] DenysOf commented on #41
@cameron-NEAR I'm removing the paid components, and it will be open-source in a few weeks, also looking at the aggregation and charts, should be all finished by no later the first week of July, I hope.

[2021-06-18 16:58] cameron-NEAR commented on #41
Fantastic news @DenysOf! Keep up the great work and let me know when you're done 🙌

[2021-06-18 16:59] #31 closed

[2021-06-21 10:36] Kisgus commented on #47
Closing as no external submissions has been submitted, however changes from core team has been proposed.

[2021-06-21 10:36] #47 closed

[2021-06-22 21:13] cameron-NEAR commented on #49
I'm separating the "Permissioned API" and "Contract to Automates New User Onboarding" components of this bounty because it was not clear enough. The new title, price, and acceptance criteria is updated above. @Sladuca @Lev-Stambler

[2021-06-23 10:24] DenysOf commented on #46
Is this still open? Our company is interested in the task. Thanks.

[2021-06-25 09:46] Kisgus commented on #46
I've assinged you now @DenysOf as this has still not been resolved. Please let me know if you need any additional input.

[2021-06-25 22:10] rencryptofish commented on #41
did this ever get resolved?

[2021-06-25 22:57] cameron-NEAR commented on #41
@rencryptofish - it is being worked on by @DenysOf

[2021-06-26 07:08] rencryptofish commented on #41
cool, just wanted to mention that sometimes just showing the balance of an account_id from the staking pool's perspective might be confusing if the account_id also retains a liquid balance, would be good to include those as well if possible

[2021-07-01 17:27] Ahoras opened #59 "A"
# Description
[A single sentence describing the project]

## Context
[Some background and explanation on why this is important]

# Acceptance Criteria
* [ ] [Checkboxes for features that are necessary to this being completed]

# Bounty
[Amount paid in NEAR]

[2021-07-02 15:28] DenysOf commented on #41
@cameron-NEAR @eriktrautman
The aggregation is finished and code is on the GH, open-source. https://github.com/Lastblock-Limited/near-staking
Hope this helps.
please view example here: https://near-staking.com/user/<your_user_account>.near

[2021-07-03 11:57] AngelBlock commented on #41
This will be included in the coming releases. The recent release was a very big change and require some time to settle and some bug fixed, if any.

[2021-07-03 12:01] DenysOf commented on #41
This will be included in the coming releases. The recent release was a very big change and require some time to settle and some bug fixed, if any.

[2021-07-05 09:16] Kisgus commented on #41
Hi @eriktrautman @cameron-NEAR Denys tells me this bounty has been completed. Have any of you guys reviewed it and can confirm this?

[2021-07-05 21:13] #59 closed

[2021-07-11 05:57] andrewmamus commented on #45
Is this bounty still available? I am a reactjs and nextjs developer any UI choosing I want to work on the frontend

[2021-07-12 20:31] #58 closed

[2021-07-12 20:31] #57 closed

[2021-07-12 20:31] #56 closed

[2021-07-12 20:31] #55 closed

[2021-07-12 20:31] #54 closed

[2021-07-12 20:31] #53 closed

[2021-07-13 18:33] cameron-NEAR commented on #45
Hey @andrewmamus! This bounty is available but it still requires design mockups. Would you be interested in submitting designs or only completing the front-end development component?

[2021-07-14 19:21] cameron-NEAR commented on #45
@andrewmamus - if you're not a designer, feel free to DM me on Telegram @camerondennis because I have other cool projects for you :)

[2021-07-16 10:52] shubh80032 opened #60 "Found bug in near"
# Description
[A single sentence describing the project]
Yes I do some random research and then suddenly it's happen
Your near wallet give user a small locked balance of 0.02 near which can be locked or not transferable to exchange But I have transferred those balance to exchange

## Context
[Some background and explanation on why this is important]
This is important because if team not fixed the

[2021-07-16 12:53] stefanopepe commented on #60
The issue was already reported by another user on July 6th, a bounty was paid and a fix is underway.
Thank you for taking the time to report this problem, and feel free to share any other bug you find!

[2021-07-16 12:55] #60 closed

[2021-07-16 12:56] shubh80032 commented on #60
Ohk

[2021-07-19 15:54] aj-maz commented on #45
Hi I just made this rough demo of my idea for redesigning of berry club. I'm wondering whether it's satisfying or not? I will code it myself. I'm more coder than designer. design will get alot better I just created as fast as possible to see whether you're intrested in it or not.
![Desktop - 1](https://user-images.githubusercontent.com/64213712/126189406-f3ffd66d-e455-45bf-ab65-9e08c7fa9a79.png)

[2021-07-26 16:36] think-in-universe opened #61 "NEAR Explorer i18n support and Simplified Chinese translation"
# Description
To make NEAR Explorer usable for people speaking different langauges, we'd like to add i18n support for Explorer. In this bounty, you need to refactor NEAR Explorer code to support i18n, and also translate all English i18n strings into Simplified Chinese.

## Context
As the NEAR ecosystem grows, we would like to have a localized user interface for developers and users in different la

[2021-07-26 16:39] think-in-universe commented on #61
@IsQiao is interested to work on the bounty and actually have done most of the work already in the PRs: https://github.com/near/near-explorer/pull/684 and https://github.com/near/near-explorer/pull/691

[2021-07-27 04:17] aestevens commented on #38
👋🏻 Hey @crasskitty and @cameron-NEAR, is this bounty still open/up for grabs?

I could start on this next week pending some further discussion of the scope, requirements, etc.

[2021-07-29 09:31] cameron-NEAR commented on #41
Hey @DenysOf! You did an amazing job and I'd like to get you paid ASAP. Can you drop your Telegram below?

[2021-07-29 10:29] cameron-NEAR commented on #51
Hey @duythien0912, did you get a chance to read @think-in-universe's message about the change of scope? If so, are you still interested? If not, I will unassign you and create a new bounty for the new proposal

[2021-07-29 10:31] cameron-NEAR commented on #46
Hey @DenysOf, would you mind providing a quick update on the progress of this bounty?

@hackphobic, are you still interested in completing this?

[2021-07-29 10:37] DenysOf commented on #46
Hi @cameron-NEAR, this is completed and handed over to Request for the integration. It is also pending smart-contract review/audit. We are waiting for Request to confirm and accept.

[2021-07-29 10:38] #38 closed

[2021-07-29 10:39] cameron-NEAR commented on #38
Hey @aestevens, the person who listed this bounty is no longer interested in seeing it through so I'm going to close it. Feel free to DM me on Telegram if you're interested in other work across the NEAR ecosystem that needs to get done

[2021-07-29 10:39] DenysOf commented on #41
Thanks, I'll ping you on the telegram.

[2021-07-29 11:00] cameron-NEAR commented on #9
Hey @luizfelipetx - how is development coming along? Do you have an idea of when you might have an MVP ready?

[2021-07-29 11:17] cameron-NEAR commented on #18
@nearmax @frol - did you assign a team to work on this issue / should I close this bounty?

[2021-07-29 15:24] eclipseeer commented on #52
Progress update: I've done testing connection and signing tx by ledger on the test app via USB. Now I integrate ledger connection UI into the Multisafe app - the user will be able to choose between near wallet and ledger, and choose which account he wants to use in case if he has multiple accounts created by a single ledger.

[2021-07-29 18:09] bowenwang1996 commented on #18
I think the dev plaform team is already working on this. cc @mikedotexe @austinabell

[2021-07-29 18:17] austinabell commented on #18
Correct. IMO can close this bounty, this is in my current plan and I don't foresee any blockers.

[2021-07-29 20:27] duythien0912 commented on #51
@cameron-NEAR
I am currently unable to schedule a job to do this task. So I already unassign myself. Sorry because can't tell you earlier

[2021-08-04 13:58] frol commented on #61
@think-in-universe Is it completed now? @IsQiao Thanks for your contribution!

[2021-08-04 14:03] think-in-universe opened #62 "NEAR Explorer translation for Vietnamese Users"
# Description
To make NEAR Explorer usable for people speaking different languages, we'd like to add i18n support for Explorer.
In this bounty, you need to translate all English i18n strings into Vietnamese, and add localization support such as date/time format, etc.

## Context
In the bounty, https://github.com/near/bounties/issues/61, we already refactored Explorer to support i18n, and added Sim

[2021-08-04 14:09] think-in-universe opened #63 "NEAR Explorer translation for Russian Users"
# Description
To make NEAR Explorer usable for people speaking different languages, we'd like to add i18n support for Explorer.
In this bounty, you need to translate all English i18n strings into Russian, and add localization support such as date/time format, etc.

## Context
In the bounty https://github.com/near/bounties/issues/61, we already refactored Explorer to support i18n, and added Simplif

[2021-08-04 14:18] think-in-universe commented on #61
@frol yes, Frol. We already paid the bounty.

I'm asking @cameron-NEAR to help confirm and close the bounty if it's OK.

[2021-08-04 14:48] that83 commented on #62
I am interested to work on this bounty, going to take on it.

[2021-08-04 21:20] Lev-Stambler commented on #48
Hi @zavodil, we have docs now on, https://baf-wallet-docs-deploy.vercel.app/. To play with it, you can either go through the docs and setup the server, frontend, and torus. Or we can add you to the BAF Discord where we have the bot up and running on a dedicated channel. Please let me know which works, and I will be happy to help!

[2021-08-06 15:14] #18 closed

[2021-08-08 02:15] baoanh1310 commented on #62
I'm also interested to work on this bounty.

[2021-08-10 10:40] cameron-NEAR commented on #62
Great! @that83, I officially assigned this bounty to you. When do you think you will complete it by?

[2021-08-10 13:09] Lev-Stambler commented on #48
@zavodil Just bumping the above comment

[2021-08-10 14:49] that83 commented on #62
It is being reviewed in PR:
https://github.com/near/near-explorer/pull/700

[2021-08-10 21:34] Mish77gun commented on #63
Ready to translate into Russian
Native Russian Speaker 😉

[2021-08-13 03:22] IsQiao commented on #61
Hi, I have finished the feature. it is merged into master branch. thanks.

[2021-08-13 03:24] think-in-universe commented on #61
@IsQiao thanks Qiao. great work! looking forward to more contribution from you 🚀

[2021-08-13 03:24] #61 closed

[2021-08-13 06:19] ducviet00 commented on #51
Hi, do I make a UI design or you have made one?
If you want to make a standalone staking app, can you increase the bounty?

[2021-08-13 09:08] cameron-NEAR commented on #63
Awesome @Mish77gun! When do you think you can complete it by?

[2021-08-13 10:43] Mish77gun commented on #63
Good day! I can submit work on August 18. Btw what will be reward for this work?

Отправлено с iPhone

[2021-08-13 12:04] frol commented on #62
Vietnamese translation is in production! Check it out! https://explorer.near.org

[2021-08-16 17:55] think-in-universe commented on #62
@cameron-NEAR The Vietnamese translation is in production now. We're ready to send the reward 😃

[2021-08-18 02:42] cameron-NEAR opened #64 "OpenDeFi Hackathon: Parallel Swap on Ref.Finance"
### Parallel Swap Bounty

### Prize Bounty
5,000 in USDC

### Challenge Description
Background: Ref Finance is a community driven DEFI project on NEAR Protocol. It has several components, such as an AMM swap called Ref Exchange, a general-purpose farming component called Ref Farming which supports liquidity farming, and other components which are currently under development.

Ref Exchange allows p

[2021-08-18 02:51] cameron-NEAR opened #65 "OpenDeFi Hackathon: Ref Status Explorer"
### Ref Status Explorer

### Prize Bounty
3,000 USDC

### Challenge Description
**Background**
Ref Finance is a community driven DeFi project on NEAR Protocol. It has several components, such as an AMM swap called Ref Exchange, a general-purpose farming component called Ref Farming which supports liquidity farming, and other components which are currently under development.

Ref Exchange allows pe

[2021-08-18 03:24] cameron-NEAR opened #66 "Open DeFi Hackathon: New Frontend for BerryClub"
### Title: New Frontend for BerryClub

### Prize Bounty: $1,000 or $4,000 in $NEAR

### Challenge Description
Design and implement an appealing frontend for BerryClub, a novel way to co-create art on a limited space using token economics to balance incentives.The winning submission for this hackathon will receive $1,000 in $NEAR and the chance to win an additional $3,000 in $NEAR if it is approved

[2021-08-18 04:39] cameron-NEAR opened #67 "Open DeFi Hackathon: The Two Best NEAR DeFi Dapps"
### The Best Two NEAR DeFi Submissions

### Prize Bounty
2 winners will receive $500 in $NEAR for their NEAR-native DeFi dapps

### Challenge Description
- Build something creative and new for NEARs rapidly growing DeFi ecosystem.

**Resources**
- Beginners Guide: https://near.org/blog/the-beginners-guide-to-the-near-blockchain/
- Docs: https://docs.near.org/
- Explorer: https://explorer.near.org/

[2021-08-19 22:05] tayyabmh commented on #38
Hey I'm a developer whose worked with Bubble in the past and have gotten some of my own experience playing with Metamask, web3, ethers.js.

Interested in taking this up, if it's still open!

[2021-08-23 11:14] Kisgus commented on #46
Can confirm this is pending request.network team integration as of now @cameron-NEAR, we keep providing them with inputs to go into production. @hackphobic stopped responding to us a long time ago.

[2021-08-23 17:16] cameron-NEAR commented on #62
Hey @that83, has this bounty been approved and paid?

[2021-08-23 18:01] that83 commented on #62
@cameron-NEAR last week I have filled in the google doc form sent by Robert but still not receive NEAR.

[2021-08-24 19:37] dileshtanna commented on #62
Are we looking at supporting any Indian languages right now?

[2021-09-01 08:32] think-in-universe commented on #63
@Mish77gun  500 USD paid in NEAR will be rewarded

[2021-09-01 08:57] Mish77gun commented on #63
Ok, I am ready. The work will be done on September 10 and sent here (or
write another convenient way).
ср, 1 сент. 2021 г. в 13:32, think-in-universe ***@***.***>:

[2021-09-01 18:08] vorsik22 opened #68 "Transfer and payment using a bot"
# Description
Allowed API for automating users, connected to the Discord bot, allowing transferring to another person reliably and conveniently, you just need to log into the Near bot's Discord!
## Context
Deterministically connect a bot with a Discord user with a personal access key issued in the Near personal account, link once and then all access will be available through the Discord bot, which

[2021-09-05 17:33] andyduong1920 commented on #62
Hi @think-in-universe, might I have a question, I'm curious any reason do we support Vietnamese 🤔

[2021-09-05 19:19] singulart commented on #9
I am also interested in the progress of this. As far as I understand, there no any example of custom social NEP21 token built on NEAR?

[2021-09-06 20:02] that83 commented on #62
I have received, please close this bounty. Thank you.

[2021-09-07 03:20] think-in-universe commented on #62
@andyduong1920 the NEAR Vietnamese dev community is really active, and we'd like to provide the best experience for developers.

[2021-09-07 03:20] #62 closed

[2021-09-07 03:30] andyduong1920 commented on #62
Oh, glad to hear that @think-in-universe, thank you for your reply 🙏 💚

[2021-09-08 07:51] iMiroslav commented on #65
Hello.
I've just submitted my work for this bounty. If you would be so kind I would like to know if everything is OK and meets the formal conditions.
Please feel free to play with the application at https://ref.nearchaintools.com/ or check the project [on Notion](https://imiroslav.notion.site/NearTools-com-for-Ref-Finance-a0ea6c5e68dd4a88acf1c2203e7bcef4)
Source code is available [here](https://gi

[2021-09-10 08:16] AngelBlock commented on #46
@cameron-NEAR this bounty is completed.

[2021-09-10 08:18] AngelBlock commented on #46
The source code is published at https://github.com/near-request/request-network
RequestNetwork is finalising the integration and mainnet contract is deployed.

Pending

- [ ] Contract review by internal resources
- [ ] Contract audit by third party audit company (if required)

[2021-09-10 08:23] Kisgus commented on #46
Awesome thanks a lot for the work @DenysOf & @yomarion on this. The bounty is considered completed now as audit was not part of the initial specification. Looking forward to the launch soon!

[2021-09-10 08:23] #46 closed

[2021-09-12 20:07] eriktrautman commented on #9
Not that I've seen. This is still a huge opportunity and the tooling has gotten substantially better in the last year so someone should really get out there and start working with subreddit leaders to tokenize their communities.

If someone builds a product out of this which is attractive to tokenize web2 communities in interesting, creative and ultimately engaging ways, I can almost guarantee it'

[2021-09-14 21:38] poznyakbogdan commented on #68
Hello guys! Is there an opportunity to work on this issue?

[2021-09-16 21:04] gummy3426 commented on #63
Hi! I'm a native speaker too and have some experience with React internalization before. If mish77gun is not going to finish the task I'm ready to complete this till 22th October.

[2021-09-17 03:22] think-in-universe commented on #63
@nebezgreshniy yes. please. Is it able to finish it earlier? actually not much efforts are needed.

The first valid PR for the Russian translation will be able to receive the bounty.

[2021-09-17 05:15] think-in-universe opened #69 "i18n support of Paras"
# Description
Paras is a great NFT market project built with NEAR.

As Paras community grows globally, it's important for https://paras.id/ to support multiple languages, including Chinese, Korean, Vietnamese, Russian, Spanish, French, etc.

To enable the multi-language feature, we need to refactor the frontend source code https://github.com/ParasHQ/paras-landing/tree/v2 (v2 branch) , and make it

[2021-09-17 05:57] JuEnPeHa commented on #69
Hi, I could work with this if it was Spanish instead of Chinese.

I guess I'll wait for an upcoming issue, have a great day.

Juan Enrique

[2021-09-17 07:11] Mish77gun commented on #63
My work is done, I was just waiting for your answer, in what format should I send the translation.  I will send here during the day

[2021-09-17 07:26] think-in-universe commented on #63
@Mish77gun thanks. Please send the link of your PR here, or just mention this issue in your PR.

[2021-09-17 07:26] wuxiangwu commented on #69
Hi , I'm a FrontEnd Developer, I can do it!

[2021-09-17 07:32] think-in-universe commented on #69
@JuEnPeHa thanks for your interest. Chinese is preferred at least in this bounty. Paras team might also need your help to add Spanish UI later, after the i18n support is enabled. Please stay tuned.

@wuxiangwu thanks. please submit a PR to https://github.com/ParasHQ/paras-landing/tree/v2 to complete the bounty.  when do you think you'll be able to complete the bounty?

[2021-09-17 20:28] mfornet commented on #15
@abacabadabacaba if I understand correctly we don't need secret data here. We can establish a private connection with coinbase.com, but ultimately we can publish all the secret data generated publicly to be verified on-chain, given that none of this secret data actually compromises the client (i.e it is not logged in or any personal information is used).

The reason I think this is doable disregar

[2021-09-17 20:30] cameron-NEAR commented on #65
All looks great @iMiroslav!!

[2021-09-17 20:37] benjamingreenberg commented on #15
How can the smart contract independently validate that the data you gave it actually came from coinbase.com?

[2021-09-17 20:59] mfornet commented on #15
I haven't look in all technical details of the HTTPS protocol, but the idea is that the browser is only aware of the public key from the root authority, so this key is as well added to the blockchain (this step is only required once). Other public information that is known ahead of time needs to be added on chain. I expect this information doesn't change often so it only needs to be submitted once

[2021-09-17 22:19] benjamingreenberg commented on #15
I completely agree that the previous approach is inefficient. That was my way of saying it wasn't something I thought I could do :)

I hope you do come up with a solution! The only advice I would give you, is to work under the assumption that the system that is running your script has been compromised, and a malicious 3rd party can make any changes it wants to incoming data before your script sees

[2021-09-17 23:21] abacabadabacaba commented on #15
@mfornet You probably assume that the data coming over HTTPS is signed. It is not. Instead, its authenticity is protected using a scheme called [Message Authentication Code](https://en.wikipedia.org/wiki/Message_authentication_code) (MAC). MAC is more efficient to compute and verify. However, unlike digital signatures, it uses the same key for generation and verification. Thus, anyone who can veri

[2021-09-18 08:16] Mish77gun commented on #63
Yeah, it is here : https://docs.google.com/document/d/1h65-lfzZifeE65lmQ-Y6cIfsplBNbxCbILl6zvDinmI/edit?usp=sharing

please let me know when you check it

[2021-09-18 10:05] aidai524 commented on #64
I recommend that @giddyphysicist can got our reward for this mission. We run his project code, watched his video and whiterpaper, the functions he implemented meet our requirements very well, I believe these theories are very helpful for us to optimize the swap function, I hope to communicate with him later and see how to integrate your code into our project.

[2021-09-18 10:52] aidai524 commented on #65
Hey @iMiroslav
Congratulations on your reward for this mission.I have reviewed your codes. Good job.

This is indeed a good idea for using graphs to store data using a centralized scheme, the performance overhead of data query has been greatly optimized.

And I check your Accounts, Tokens, Pools, Farms, Liquidity pages. Although there are some sub-pages that have not yet been completed, most of th

[2021-09-18 13:33] think-in-universe commented on #63
@Mish77gun thanks. do you mind creating a Pull Request to https://github.com/near/near-explorer/tree/master/frontend so we can preview your translation in local environment?

Please check this PR for Vietnamese if you don't know what is the expected submission: https://github.com/near/near-explorer/pull/700/files

[2021-09-18 13:44] Mish77gun commented on #63
Yeah, no problem!  I'm new to this area and don't really understand how to do this.  Can you tell me what is required of me now?

[2021-09-18 14:54] think-in-universe commented on #63
@Mish77gun

similar to https://github.com/near/near-explorer/pull/700, you should be able to have a Russian version Explorer running in you local environment, and you could capture screenshot of your version and share in the PR if you'd like to.

But the most important is that in the PR you submitted, you should have the code and JSON files ready as illustrated in the Vietnamese version.

[2021-09-18 16:53] Mish77gun commented on #63
Before taking the job, I immediately discussed that it was not related to the technical part and was ready to perform only the translation of the site.  Which in turn I did, in the sent document there is a fully translated text + footnotes added with the original text.  Then I can no longer do anything about it: "But the most important is that in the PR you submitted, you should have the code and

[2021-09-18 19:05] gummy3426 commented on #63
@think-in-universe
So, as there were many errors and flaws in the file provided by Mish77gun, I've tried to complete the task asap.
Please, review it. If any flaws will be found, I'd like to correct them.

[2021-09-18 19:31] Mish77gun commented on #63
No problem.  But so I specifically specified in advance that I would only do the translation of the text and no more.  I've spent enough of my time and appreciate it.  The job is done, I would like to get paid.

[2021-09-19 01:53] think-in-universe commented on #63
@Mish77gun Hey, where did you say you can only do the translation part? I didn't see that comment ...

@nebezgreshniy Are you able to submit a PR for this bounty?  Maybe you guys can work together on this bounty, and help review the translation together.

[2021-09-19 03:19] Mish77gun commented on #63
@think-in-universe
My first comment “ Ready to translate into Russian
Native Russian Speaker 😉”

And also I was asking about reward bcs I would like only to translate. And u answered 500usd. Can I get money for my work?

[2021-09-19 03:31] think-in-universe commented on #63
It doesn't mean translation is enough, though translation is an essential part.
The **Acceptance Criteria** section has clearly described what you need to do actually.

sorry. you can't, unless your submission satisfies all the **Acceptance Criteria**.

[2021-09-19 03:36] Mish77gun commented on #63
It means that we did not understand each other.  This does not change the essence of the matter, I have nothing to do with JS and I cannot do anything more than translation.  Can I get a partial payment?

[2021-09-19 05:39] think-in-universe commented on #63
@Mish77gun if you can collaborate with someone to help submit a PR based on your translation, you guys can divide the bounty based on your contribution.

[2021-09-19 06:00] nebezgreshniy commented on #63
@think-in-universe Sorry, I've made it here 11 hours ago based on my own translation.
[https://github.com/near/near-explorer/pull/738](url)

[2021-09-19 06:17] nebezgreshniy commented on #63
[https://github.com/near/near-explorer/pull/738](url)

[2021-09-19 06:21] gummy3426 commented on #63
@think-in-universe
I've made it [here](https://github.com/near/near-explorer/pull/738) 11 hours ago based on my own translation.

[2021-09-19 06:26] Mish77gun commented on #63
@think-in-universe

A colleague did the job too.  My job is also done, there is to follow your checklist with the task of translating the text, that's half the job.  My time is not free and I appreciate it.  I want to get my own, albeit small, but reward.

[2021-09-19 06:35] think-in-universe commented on #63
@Mish77gun could you please help review the translation in this PR? https://github.com/near/near-explorer/pull/738  if so, you guys can split the bounty if @nebezgreshniy is also OK with this.

[2021-09-19 07:21] dec0dOS commented on #63
Hello, @think-in-universe!
I've faced by the accident to this tread and want to help to resolve the conflict.
As a native Russian speaker and a long-term NEAR user, I don't think that @Mish77gun does deserve any bounty, he does not understand the domain-specific terms so the translation is useless. Also, @Mish77gun promised to complete the task about 2 times but didn't on time.
If you need another

[2021-09-19 07:37] Mish77gun commented on #63
@think-in-universe

Yes, maybe a mistake on my part.  But nevertheless, I spent my time doing this work.  I would like to receive the minimum reward for my work -> mish77gun.near
I don’t see any point in communicating further, since my colleague has already done the work himself.  I rate it excellently.

[2021-09-19 08:05] think-in-universe commented on #63
@Mish77gun  the bounty will be rewarded based on the result and quality of the work, not the time you spent.
who is your colleague? do you mean @nebezgreshniy ?

[2021-09-19 08:22] Mish77gun commented on #63
Guys, this is wrong.  Every job must be paid.  Have a nice day everyone, I will not come back here again!

[2021-09-19 08:25] think-in-universe commented on #63
@dec0dOS thanks for your comments. I'm not sure about the quality of translation since I cannot read Russian. We need developers from Russian community to help review.

Please feel free to review the PR if you have any suggestions or comments: https://github.com/near/near-explorer/pull/738

[2021-09-19 08:32] think-in-universe commented on #63
@Mish77gun

I think you didn't notice the requirement since the bounty has stated its **Skill Requirement** clearly.

Thanks for your contribution. But I'm sorry we have to reward the bounties based on the actual delivery that meets the **Acceptance Criteria**. As said earlier:

[2021-09-19 13:20] dec0dOS commented on #63
@think-in-universe, I've made some changes to the translation and @nebezgreshniy has already approved the PR. It seems to be looking good now!

[2021-09-20 11:37] iMiroslav commented on #65
Hi @aidai524 ,

thank you for your review. The application is still Proof of Concept or MVP. It is built on good architecture and is prepared for further development. I have already prepared the TODOs page (or roadmap) to share my ideas on how to continue. You can check it on https://imiroslav.notion.site/d6062cb9a03544b9996b8cdf08ecb2a3?v=46b987e9cbda49878a9be68182d00c10
Nowadays I'm on the holid

[2021-09-21 12:13] frol commented on #63
@think-in-universe reading the Russian translations I fear that our Chinese and Vietnamese translations might also be misleading. While it might be a good starting point, I believe we might want to keep English translation around and a call-to-action button to improve translation or take a proactive move and ask people to validate the work.

[2021-09-21 15:05] think-in-universe commented on #63
@frol thanks Frol.

For Chinese and Vietnamese translation, I'm sure they are in quite high quality since some developers with proved NEAR-related translation records have helped to translate and review. Also at least for the Chinese version, I received feedback from developers comment that the translation was done quite well, though it's still possible some terms' translation can be challenged or

[2021-09-21 15:27] cryptovaibhav commented on #45
Hi, Is this bounty still open ? I am a full stack developer looking to contribute to the NEARverse.

[2021-09-21 15:39] cryptovaibhav commented on #69
@think-in-universe  Hi, I am a full stack developer. I can work on the infrastructure part and make it globalized. We can discuss more if you are interested. However, the for chinese translations, I would have to rely on Google translate.

[2021-09-22 20:31] jhey commented on #66
frontend work submitted: https://github.com/jhey/berryclub
short video: https://youtu.be/6RSy8pSKWSg

[2021-09-24 17:56] cameron-NEAR commented on #66
Congratulations on winning @jhey! Please check your email :)

[2021-09-24 17:56] #66 closed

[2021-09-25 06:06] AlexDenver commented on #69
@think-in-universe have raised a PR ([#131](https://github.com/ParasHQ/paras-landing/pull/131/files)) with one of the pages localized so that I can get ample feedback before I make the changes across the repo.

[2021-09-25 07:25] wuxiangwu commented on #69
@Robert Yan   Sorry, I Just see the question. I have done!, and will Pull Request!

[2021-09-26 07:05] cenwadike commented on #30
Hello, I'm interested in this bounty and would like to start working on it.
What do I need to get started?

[2021-09-27 12:51] cameron-NEAR commented on #30
I just assigned it to you so feel free to start working on it now! :)

When do you think you will be able to complete it by?

[2021-09-27 12:52] cameron-NEAR commented on #68
This has already been completed - https://github.com/bafnetwork/baf-wallet-v2

[2021-09-27 13:31] cenwadike commented on #30
Keeping my fingers crossed, hopefully within 3 months.

On Mon, Sep 27, 2021, 13:51 Cameron Dennis ***@***.***> wrote:

[2021-09-29 23:40] 0xslipk commented on #69
I can help you with the Spanish UI. send a me a direct message on [twitter](https://twitter.com/jarcodallo) :D

[2021-10-04 18:50] choatpro2506 opened #70 "tôi nghỉ near nên chạy nhanh hơn để những dự án phía trên sẽ phải ngước nhìn. dapp cần được xây dựng nhanh hơn để thu hút các nhà đầu tư."
# Description
[A single sentence describing the project]

## Context
[Some background and explanation on why this is important]

# Acceptance Criteria
* [ ] [Checkboxes for features that are necessary to this being completed]

# Bounty
[Amount paid in NEAR]

[2021-10-04 18:53] choatpro2506 opened #71 "PARAS ĐÃ ĐƯỢC RA MẮT. NHƯNG NGƯỜI DÙNG CHƯA THẬT SỰ NHIỀU. NFTS ĐANG ĐẾN GẦN GIAI ĐOẠN NƯỚC RÚT. ĐỂ PARAS CÓ THỂ PHÁT TRIỂN HƠN NỮA VÀ THU HÚT NHIỀU NHÀ ĐẦU TƯ VÀ ĐẨY MẠNH MẠNG LƯỚI NFTs CỦA NEAR. NGÔN NGỮ TRÊN PARAS NÊN CẬP NHẬT THÊM. VÀ ĐẶC BIỆT GIAO DIỆN VÀ CÁCH HOẠT ĐỘNG CÁC NÚT BẤM CẦN RÕ RÀNG VÀ CHI TIẾT HƠN"
# Description
[A single sentence describing the project]

## Context
[Some background and explanation on why this is important]

# Acceptance Criteria
* [ ] [Checkboxes for features that are necessary to this being completed]

# Bounty
[Amount paid in NEAR]

[2021-10-04 20:18] #71 closed

[2021-10-04 20:21] #67 closed

[2021-10-04 20:21] #65 closed

[2021-10-04 20:21] #64 closed

[2021-10-04 20:24] #70 closed

[2021-10-05 08:48] tranquang9a1 commented on #69
I can support to translate to Vietnamese. Contact me if you need help

[2021-10-06 11:58] think-in-universe commented on #69
thanks to @wuxiangwu 's contribution: https://github.com/ParasHQ/paras-landing/pull/135. the i18n support is already launched in production: https://paras.id

[2021-10-06 11:59] think-in-universe commented on #69
@jarcodallo and @tranquang9a1 thanks for your interest.

do you mind sharing your telegram account? so you can join the discussion with Paras team.

[2021-10-06 12:08] 0xslipk commented on #69
Hey, my telegram is `jarcodallo` 😄

[2021-10-06 13:03] JuEnPeHa commented on #69
Hello, good morning, I was the first that offered you Spanish @JuanEnriquePH

[2021-10-07 01:33] tranquang9a1 commented on #69
My telegram account is same with github: tranquang9a1

[2021-10-07 07:03] think-in-universe commented on #69
cool. thanks everyone @jarcodallo @JuEnPeHa @tranquang9a1

[2021-10-07 09:20] unlimited2989 commented on #69
@think-in-universe let me know if you still need help with Vietnamese translation. Got some experience to do translation for a few big enterprises software rollout. Thank you.

[2021-10-08 08:20] think-in-universe commented on #69
@unlimited2989 thanks. please leave your telegram handle here, and Paras team will contact you if they need your help.

[2021-10-08 08:33] unlimited2989 commented on #69
Tks. My Telegram @MrRyu298

[2021-10-13 05:40] OZ20 commented on #69
By any chance if Bahasa Melayu is needed, you can contact me @OZ20DEV (telegram). Thanks!

[2021-10-15 12:37] rikijug2 commented on #69
if it needs to be translated to Croatian or any Balkan language hit me up tele @rikijug22

[2021-10-15 12:38] Fifiboss98 commented on #34
Hello

Is the bounty still available?

[2021-10-15 12:49] Fifiboss98 commented on #69
I'm available for French translation

My Telegram handle Fideledossou

[2021-10-15 14:42] frol commented on #63
Russian translation has been completed, merged, and deployed to production! :tada:

https://github.com/near/near-explorer/pull/762

@nebezgreshniy Thanks for your contribution!

@think-in-universe Please, follow up on the bounty pay :pray:

[2021-10-21 20:02] Seva98 commented on #69
For Czech translation hit me on telegram @sevcik_dev

[2021-10-22 04:57] cuongdcdev commented on #69
Hello @think-in-universe , I can help with Vietnamese translation, my tg is @cuongdcc

[2021-10-24 01:26] JoseGabriel-web commented on #69
I can translate it to Spanish will create the JSON file with the translations.

You guys can also contact me here: https://twitter.com/nearmemes_

[2021-10-24 01:33] think-in-universe commented on #69
thanks everyone. I think Paras team will reach out if they need your help. 😃

[2021-10-24 01:33] #69 closed

[2021-10-24 11:13] garvitgoel commented on #34
Hi @ilblackdragon
Very cool! We are currently building the exact same thing between tendermint to Ethereum. So far we have been able to create zk-proofs for a single ed25519 sig. The next step, do it for the entire validator set, and then the complete light client. If this grant is still open, let us know, we would love to submit a proposal for Rainbow.

Interesting, before I saw this Bounty, I su

[2021-10-25 21:06] ankitbuti opened #72 "Slack App for Astro DAOs"
# NEAR Bounty Terms
Before beginning work on the bounty, you must submit a proposal.  Only if your proposal is accepted will you be able to claim the reward of the bounty.

# Description
Make a Slack App for Astro (Sputnik v2) DAOs to be able to create proposals, vote and get notification for the DAO activity directly in slack. Website: https://astrodao.com

## Context
DAOs are the future of organ

[2021-10-26 14:24] singulart commented on #72
Any restrictions on technology stack?

[2021-10-27 12:52] gummy3426 commented on #63
@think-in-universe The task is already completed. Great thanks for the opportunity to contribute to the project.

[2021-10-27 13:53] think-in-universe commented on #63
@nebezgreshniy cool. thanks a lot for your contribution.

Could you please share your telegram or discord handle? so we can follow up with the bounty payout.

[2021-10-28 10:19] cenwadike commented on #30
@cameron-NEAR  I've constantly received a 404 error when I attempted to view the repo for "Ethereum side: https://github.com/near/rainbow-bridge-sol/tree/master/token-locker ".

Can I have the current and available link to this repo.

[2021-10-28 10:55] boris-kolar commented on #15
It's possible in theory (by submitting the whole raw TLS encrypted bytes exchanged to the contract), but it's exceptionally difficult. The solution would require a customized web browser. More in the $500k price range in my opinion.

[2021-10-29 09:20] gummy3426 commented on #63
@think-in-universe
telegram: @nebezgreshnaYA

[2021-10-30 20:09] ilblackdragon commented on #15
Hi @boris-kolar, the customized browser doesn't really make sense as far as I understand, as the requirement here is to run on public blockchain and allow smart contracts to verify the content of retrieved information.

As @abacabadabacaba mentioned, the actual session encryption used is established after a handshake, which means that wouldn't work with public blockchain.

If there was a standard

[2021-10-30 20:09] #15 closed

[2021-10-30 20:12] ilblackdragon commented on #30
@cenwadike sorry for inconvenience. The code of the connectors from both Ethereum and NEAR side was moved to https://github.com/aurora-is-near/rainbow-token-connector.
Updated description as well.

[2021-10-31 22:15] mfornet commented on #15
Another option suggested by @abacabadabacaba (also complex), is to use [secure multi-party computation](https://en.wikipedia.org/wiki/Secure_multi-party_computation) to run the exchange protocol in such a way that several nodes runs as a client, and none of them has access to the secret key. If this is possible, then only the server will be able to sign the messages and it can be used as a proof t

[2021-11-01 16:33] cenwadike commented on #30
@ilblackdragon thank you for your response.

[2021-11-02 12:47] garvitgoel commented on #34
Progress Update:
Hi @ilblackdragon
We have already done the ED25519 and ECDSA signature verification implementation in a zero-knowledge circuit and verified it on EVM.

[2021-11-02 13:09] mfornet commented on #34
Hi @garvitgoel, is there any way to test it with the Rainbow Bridge?

I'm curious to know what is the cost of submitting such proof on Ethereum.
- Off chain (time to compute this proof?)
- On chain (gas to verify the proof)

[2021-11-03 00:49] JoseGabriel-web commented on #45
I am a Reactjs developer, Is the bounty still available or any others I could help with?

[2021-11-03 06:56] vnlongbk commented on #45
<img width="1424" alt="Screen Shot 2021-11-03 at 13 52 28" src="https://user-images.githubusercontent.com/37822634/140019635-3d42d872-548e-4a68-8fc0-4ea50a680fd4.png">

Hi, I have a demo for berry cards, i hope you will check it out, thank you!
Link: https://vnlongbk.github.io/nedo/
@ilblackdragon

[2021-11-10 06:27] lin-nguyen commented on #45
hi @vnlongbk , can I join with you :D

[2021-11-18 23:59] mindsgn commented on #45
Hi @ilblackdragon I just would like to know if this has been fulfilled?.

[2021-11-23 01:11] ht55ght55 commented on #29
What is going on with this bounty?  It seems like there hasn't been any updates on any of the bounties in this repo for a while....

[2021-11-23 15:52] ilblackdragon commented on #41
I'm assuming this done at this point. Closing.

[2021-11-23 15:52] #41 closed

[2021-11-23 15:58] ilblackdragon commented on #45
@vnlongbk looks pretty good.

@15060322123 good start but would need some iterations - typefonts are really off and would be good to have better menus.

This has not been fulfilled.
Sadly, I'm not a good person to manage this process going forward and Berry Club developer is not really active here either.

Let's do next thing: if someone wants to do this - you need to launch this frontends live on

[2021-11-24 10:27] wisespace-io commented on #9
What's the status of this bounty? I'm interested if no one is working on it.

[2021-11-29 16:17] mdb1710 commented on #45
@ilblackdragon I would love to give this a shot if it hasn't been fulfilled yet.  I'm a developer in the states who just completed the NEAR Certified Developer (NCD) L1 Certification.  I can make it open-source with the requirement above at about 3-4 weeks time if not sooner.

[2021-11-30 00:57] JuEnPeHa commented on #69
Spanish translation created in October 8th.
https://github.com/ParasHQ/paras-landing/pull/141

And edited in order to work in the new version of the JSON file in November 22th.
https://github.com/ParasHQ/paras-landing/commit/f08c8218b822cc5304a7ea96ddc913ca5d194730

https://paras.id/es

Happy to help the community, have a great day :)

[2021-12-04 09:34] Rishabhraghwendra18 opened #73 "`the the` used in Token section"
I am reading through the docs and found a grammatical error in the [Token](https://github.com/near/bounties#token-rewards) section. The last paragraph before the `final phase of MainNet` there are two `the` . I think we should only use one `the` there .

I don't have any bounty for it . There is no other option for reporting such kind of issue that's why I opted for this template .

[2021-12-05 12:02] #73 closed

[2021-12-07 16:02] #72 closed

[2021-12-08 10:20] #68 closed

[2021-12-08 10:21] #52 closed

[2021-12-16 22:03] frol commented on #15
Just for extra reference, [another discussion](https://security.stackexchange.com/questions/231014/is-it-possible-to-store-record-https-client-auth-traffic-as-a-signed-document/231019#231019) arrived to the same conclusions that it is impossible to do by design.

[2021-12-18 09:01] cenwadike commented on #30
Hello @ilblackdragon, I haven't been paying attention to the project as I've been helping a friend out with his project for an MSc thesis.

I'll be paying more attention here and could be asking some questions soon.

Thanks for being approachable.

[2021-12-20 16:34] rohannrk commented on #45
Hey @Ajand can we collaborate. I can work on design work.....as I am just starting out with frontend dev??

[2022-01-12 17:07] Oltisdotcom commented on #45
@ilblackdragon Here is our vision, we creating marketplaces for 20m items,

Sample for Berry Cards:
https://drive.google.com/drive/folders/1eiJ7BUwuq8tjKljHs67AkCcsmURaq4ke

Thanks, waiting for comments

[2022-01-12 18:10] mindsgn commented on #45
hey @ilblackdragon are you from berry club?.

[2022-01-14 19:42] TrevorJTClarke commented on #42
@frol checking in on this, any movement on the "proper solution"? Would love to get this built, either the proper solution or diff project.

[2022-01-16 20:54] ilblackdragon commented on #29
There has been a bunch more work outside of the bounty process. I'll close this bounty.

[2022-01-16 20:54] #29 closed

[2022-01-19 13:11] tuananhh10 commented on #45
I'm gonna do it

[2022-01-21 13:19] frol commented on #42
@TrevorJTClarke I know that @miraclx has recently discussed this problem.

@miraclx @austinabell I want to loop you in this conversation since you folks can make the change happen!

[2022-01-21 16:12] austinabell commented on #42
Ah, yes, very much is a topic of discussion and something we are hoping to have a workable solution for this quarter (or at least define the spec and PoC)

[2022-01-22 15:34] aashiriftikhar commented on #45
Hey @ilblackdragon , Just came across this bounty and Berry Club looks like an exciting project to work on. My team and I will be working on the design starting Monday and will be sharing the designs here in a week. Should I get the design approved first before working on the development and deployment? Or are we to move right ahead with the development to become eligible for the bounty?

Also, is

[2022-02-01 08:37] frol commented on #63
@think-in-universe Was this bounty paid out? Should we close this issue?

[2022-02-01 12:46] think-in-universe commented on #63
@frol yes. the bounty has been paid.

[2022-02-01 12:46] #63 closed

[2022-02-02 11:05] Memoleeq opened #75 "#"
# Description
[A single sentence describing the project]

## Context
[Some background and explanation on why this is important]

# Acceptance Criteria
* [x] [Checkboxes for features that are necessary to this being completed]

# Bounty
[Amount paid in NEAR]

[2022-02-02 11:05] Memoleeq commented on #75
Nice

[2022-02-02 11:07] Memoleeq opened #76 "Bağlam"
# NEAR Bounty Terms
Before beginning work on the bounty, you must submit a proposal.  Only if your proposal is accepted will you be able to claim the reward of the bounty.

# Description
[A single sentence describing the project]

## Context
[Some background and explanation on why this is important]

## Relevant repos or issues

# Acceptance Criteria
* [x] [Checkboxes for features that are necessa

[2022-02-02 11:10] Memoleeq commented on #76
Nice

[2022-02-02 21:34] #75 closed

[2022-02-02 21:34] behaviary commented on #75
Please don't create empty issues here!

[2022-02-02 21:34] #76 closed

[2022-02-08 03:37] Memoleeq commented on #76
Nİce 5000

[2022-02-14 18:25] gvincenta commented on #45
Happy to work along with others and get the bounty, I am a typescript react developer with 2 years of experience @ilblackdragon

[2022-02-15 02:18] miraclx opened #77 "Exhaustively document the Rust JSON RPC Client"
# Description

- Exhaustively document all types and structures in the [near-jsonrpc-client](https://github.com/near/near-jsonrpc-client-rs) crate.
- Documentation of RPC methods can be pulled from the official documentation. https://docs.near.org/docs/api/rpc
- Add useful snippets of code showing examples in each of the [RPC methods](https://docs.rs/near-jsonrpc-client/0.3.0/near_jsonrpc_client/m

[2022-02-15 03:13] iTranscend commented on #77
Hey @miraclx, I'd like to take up this bounty

[2022-02-15 22:15] miraclx commented on #77
@iTranscend, sounds good, I'll assign you.

Do you have an idea of when you will have something we can look at?

[2022-02-16 18:48] iTranscend commented on #77
I should have the tasks completed in two weeks from now

[2022-02-16 22:51] miraclx commented on #77
Sounds good. I'll follow up soon to discuss progress. Feel free to ask any questions you may have in here.

[2022-03-08 15:37] ilblackdragon commented on #45
Because it seems like people don't see my message, I'll close this issue at this point.

Feel free to create alternative frontends and share them with community to receive retroactive rewards.

[2022-03-08 15:38] ilblackdragon commented on #50
I'm going to close stuff that doesn't have a clear owner.

[2022-03-08 15:38] #50 closed

[2022-03-08 15:39] ilblackdragon commented on #30
I'm going to close this as there is not much progress here in past 1.5y.

[2022-03-08 15:39] #30 closed

[2022-03-08 15:40] ilblackdragon commented on #33
This issue has been complete on Gitcoin

[2022-03-08 15:40] #33 closed

[2022-03-08 15:43] cenwadike commented on #30
Been on it...the code base is quite large, been trying to understand different parts.
Can I continue to work on it? Have dedicated some effort into it and would like to see it through.

[2022-03-08 16:18] ilblackdragon commented on #30
@cenwadike for sure, continue working. just ping here when you have something to share with the bridge team.

[2022-03-08 16:28] cenwadike commented on #30
Noted

[2022-03-14 14:08] dariovlopes commented on #48
@cameron-NEAR I want to have this opportunity, is the process still active?

[2022-03-15 09:29] block8866 commented on #48
我需要near，了解他

[2022-03-18 10:25] mfornet commented on #77
It is not part of the issue, but it will be really nice, if as a result of this issue we could also get a postman exportable version of the RPC: See one from [Ethereum](https://www.postman.com/3pdYxK6SJYrr71/workspace/blok-z-s-public-workspace/request/6710670-5b6629db-128e-4066-b6cb-840f6e7952e3) for more details.

[2022-03-18 13:03] miraclx commented on #77
Yeah, that's a great idea. It's out of scope for this bounty as it's defined, but I'll keep a note of this and have this set up soon.

[2022-03-20 19:58] #48 closed

[2022-03-20 19:59] cameron-NEAR commented on #48
This bounty is no longer active.

[2022-03-20 20:00] #49 closed

[2022-04-01 21:37] alikonuk1 commented on #51
Hey, is this still on going

[2022-04-24 15:58] ankitzm commented on #77
Is this bounty still open? Have recently built a Dapp on Near, it's awesome. Ready to work on this bounty.

[2022-04-24 21:47] miraclx commented on #77
@ankitzm, yes it's still open, although @iTranscend has been working on it for a while now and it is almost complete.

https://github.com/near/near-jsonrpc-client-rs/issues/51

[2022-04-28 11:21] ankitzm commented on #77
Great work @iTranscend. Is there anything I can help with.

[2022-04-30 16:59] iTranscend commented on #77
It’s very kind of you to offer to help @ankitzm, but there's currently no task that I haven't opened a PR for.
Thanks.

[2022-05-04 21:11] zeeshanpaalo commented on #9
Whats the status on this bounty?. I am already building something similar to this.

[2022-05-19 18:35] think-in-universe opened #78 "Build Decentralized Social Network with NEAR"
### Prize Title

Build Decentralized Social Network with NEAR

(_This challenge is for [ETH Shanghai Hackathon](https://gitcoin.co/hackathon/ethshanghai)_)

### Prize Bounty

USDT $6,000, split between the best 3 submissions

1. First Place: $3,000
2. Second Place: $2,000
3. Third Place: $1,000

### Challenge Description

Through simple, secure, and scalable technology, [NEAR](https://near.org/) e

[2022-06-01 17:16] think-in-universe commented on #78
@ilerik hey, your repo https://github.com/ilerik/wearehere is not public, could you please check?

[2022-06-02 01:57] kunal528 commented on #78
Hey Near/Bounties

This is not my github repo.
My github repo is https://github.com/kunal528/netone

On Wed, Jun 1, 2022, 22:46 Robert Yan ***@***.***> wrote:

[2022-07-02 11:48] andrewmamus commented on #45
Ok sir

[2022-10-27 02:13] uplaw commented on #77
@miraclx Is this task still available ?

[2022-10-27 02:20] uplaw commented on #51
@cameron-NEAR @think-in-universe Since it seems like is is unavailable at the moment, you can assign the task to me. Thank you.

[2022-11-10 14:29] alikonuk1 commented on #51
I am also still available

[2022-11-15 01:36] miraclx commented on #77
@uplaw This bounty is complete, and the reward has been claimed.

Thanks for checking in.

[2022-11-15 01:36] #77 closed